
@{
    ViewData["Title"] = "Políticas e información legal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="b-pageHeader privacy">
    <div class="container">
        <h1 class=" wow zoomInLeft" data-wow-delay="0.5s">Políticas e <span>información legal</span></h1>
    </div>
</section><!--b-pageHeader-->

<div class="b-breadCumbs s-shadow">
    <div class="container wow zoomInUp" data-wow-delay="0.5s">
        <a asp-action="Index" asp-controller="Home" class="b-breadCumbs__page">Home</a>
        <span class="fa fa-angle-right"></span><a asp-action="Privacy" asp-controller="Home" class="b-breadCumbs__page m-active">Aviso de privacidad</a>
        <span class="fa fa-angle-right"></span><a asp-action="LegalInformation" asp-controller="Home" class="b-breadCumbs__page m-active">Políticas e información legal</a>
    </div>
</div><!--b-breadCumbs-->

<div class="container wow zoomInLeft" data-wow-delay="0.5s" style="margin-bottom: 4rem;">
    <h2 class="text-center">POLÍTICAS E INFORMACIÓN LEGAL</h2>
    <br />
    <div class="h4" style="line-height: 1.3">
        <section id="ford" style="padding-bottom: 1em;">
            <h2>ANEXO LEGAL FORD</h2>
            <br />

            <h3><b>PROMOCIONES PARA COLISIÓN EXPRESS</b></h3>
            <p>
                Valores exclusivos hasta el 30 de junio para proceso de pintura, no incluidos para procesos de reparación de latonería. No acumulable con otras promociones.
            </p>
            <br />

            <h4><b>PROMOCIÓN POR PIEZAS DE PINTURA</b></h4>
            <p>
                <ol>
                    <li>pieza de pintura $240.000 antes de IVA.</li>
                    <li>piezas de pintura $400.000 antes de IVA.</li>
                    <li>piezas de pintura $480.000 antes de IVA.</li>
                </ol>
            </p>
            <br />

            <h4><b>PROMOCIÓN PINTURA EXTERIOR</b></h4>
            <p>Pintura Exterior (carro a puerta cerrada) desde $2.800.000 sin IVA.</p>
            <br />
            <h4><b>PROMOCIÓN PINTURA EXTERIOR</b></h4>
            <p>
                Pintura Exterior (carro a puerta cerrada) desde $2.800.000 sin IVA.
            </p>
            <br />

            <h3>PROMOCIONES PARA TALLER</h3>
            <br />

            <h4><b>CAMPAÑA CAMBIO DE ACEITE</b></h4>
            <p>Promoción válida hasta el 31 de mayo de 2021. EL 20% de descuento aplica para vehículos año modelo 2010 - 2018. No es acumulable con otras promociones.</p>
            <br />

            <h4><b>CAMPAÑA CAMBIO DE ACEITE</b> (gratis para rutina de Mantenimiento Completa)</h4>
            <p>
                La promoción de cambio de aceite gratis aplica por realizar la rutina de mantenimiento según el manual de garantía del fabricante, esta promoción no es acumulable, oferta valida hasta el 31 de mayo del 2021, aplican términos y condiciones.
            </p>
            <br />

            <h4><b>CAMPAÑA DESCUENTO EN MANO DE OBRA</b></h4>
            <p>Promoción válida hasta el 31 de mayo del 2021. Recibe un 50% en mano de obra en vehículos modelo del 2010 al 2017.</p>
            <br />

            <h4><b>CAMPAÑA REVISIÓN BATERIA</b></h4>
            <p>Promoción válida hasta el 31 de mayo del 2021. Dirígete a cualquier concesionario Ford Motovalle en Cali y Bogotá y solicita tu revisión gratuita de la batería. Aplica solo para vehículos Ford. No tiene ninguna restricción de año modelo.</p>
            <br />

            <h3><b>PROMOCIONES PARA VEHÍCULOS NUEVOS</b></h3>
            <br />

            <h4><b>CAMPAÑA FINANDINA</b></h4>
            <p>Inicia a pagar en 2023 "llévala en Motovalle con 24 meses de Gracia". La aprobación de la solicitud estará sujeta a las políticas de crédito y condiciones de financiación definidas por el Banco Finandina. Los intereses corrientes que se causen durante el periodo de gracia, esto es entre la fecha del desembolso y la fecha de pago de la primera cuota, se cargarán a la financiación y se pagarán con las cuotas correspondientes de acuerdo con la tasa de interés convenida. Las primas por pólizas de seguros se cobrarán mensualmente a partir del desembolso de la financiación salvo que se haya convenido de otra forma. Aplica únicamente para vehículos particulares nuevos de la marca Ford, efectuadas por medio de operaciones de crédito. Vigencia del 01 de mayo de 2021 al 31 de mayo de 2021.</p>
            <br />

            <h4><b>CAMPAÑA OCCIDENTE</b></h4>
            <p>Plan 2 tasas. Banco de Occidente. FORD Bronco 6 primeros meses desde el 0.27% (3.04 EA), a partir del 7 mes: desde el 0.80% mv (10.03 EA) 12 primeros meses desde el 0.51% (6.19 EA), a partir del 13 mes: desde el 0.80% mv (10.03 EA) Aplica para ambas marcas, vehículos nuevos puntaje superior a 800. Estos planes no necesitan de subsidio. Aplica del 01 de mayo al 31 de mayo del 2021.</p>
            <br />
        </section>

        <section id="mazda" style="padding-bottom: 1em;">
            <h2>ANEXO LEGAL MAZDA</h2>
            <br />
            <h3>PROMOCIONES POSVENTA</h3>
            <br />
            <h4><b>SERVICIO MAZDA EN CASA: TÉRMINOS Y CONDICIONES</b></h4>
            <p>
                <ul>
                    <li>El servicio Mazda en casa no es prestado por Mazda de Colombia, este es un servicio brindado por Motovalle Mazda miembro autorizado de la Red y esta sujeto a su disponibilidad</li>
                    <li>Los servicios de Mazda en Casa puedes adquirirlos por un valor de $40.000 + IVA, el cobro no aplicaría en caso de algún resarcimiento, retorno a taller o algún caso que evaluaríamos puntualmente.</li>
                    <li>Aplica solo para la ciudad de Bogotá donde se encuentra ubicado el concesionario de la red Mazda.</li>
                    <li>Recibimos y entregamos el vehículo cumpliendo con estrictos protocolos de bioseguridad que puedes conocer <a href="https://www.mazda.com.co/mazda/noticias-internas/ya-esta-lista-la-plataforma-de-mazda-para-separar-vehiculos-online/" alt="Mazda bioseguridad" rel="noreferrer" target="_blank">aquí</a>, y usando los productos exclusivos de Mazda.</li>
                    <li>El servicio técnico solo se realiza con cita previa y con disponibilidad sujeta a los cupos y horarios del concesionario.</li>
                    <li>Las reparaciones menores están sujetas a la disponibilidad de nuestros técnicos.</li>
                    <li>El servicio de recoger y entregar el vehículo en tu casa para servicio técnico no tiene ningún costo adicional por tiempo limitado.</li>
                </ul>
            </p>
            <br />

            <h4><b>CAMPAÑA CAMBIO DE ACEITE</b></h4>
            <p>
                Promoción válida hasta el 31 de mayo de 2021. EL 20% de descuento en cambio de aceite. No es acumulable con otras promociones.
            </p>
            <br />

            <h4><b>CAMPAÑA RUTINA MANTENIMIENTO PREVENTIVO</b></h4>
            <p>
                <ul>
                    <li>Promoción valida hasta el 30 de junio de 2021.</li>
                    <li>Vehículos que estén entre los 5.000 mil a los 20.000 mil km / 15 % en mano de obra, 10% en repuestos.</li>
                    <li>Vehículos que estén iguales o superiores a los 25.000 mil km / 50 % en mano de obra, 10% en repuestos en mano de obra.</li>
                    <li>No acumulable con otras promociones </li>
                </ul>
            </p>
            <br />

            <h4><b>CAMPAÑA MECÁNICA ESPECIALIZADA</b></h4>
            <p>
                Promoción valida hasta el 31 de mayo de 2021.El 10% de descuento en repuestos y el 30% en mano de obra. No acumulable con otras promociones.
            </p>
            <br />

            <h4><b>CAMPAÑA DE COLSION EXPRESS</b></h4>
            <p>
                Promoción valida hasta el 31 de mayo de 2021. No acumulable con otras promociones. El 30 % Mano de obra y 15% en repuestos.
            </p>
            <br />

            <h3><b>PROMOCIONES VENTA DE VEHÍCULOS </b></h3>
            <br />
            <h4><b>PLAN MAZDA 3 CON TASA 0,27% </b></h4>

            <p>
                *Plan financiero vigente durante el mes de MAYO 2021, únicamente en la red de concesionarios MOTOVALLE MAZDA Aplica para MAZDA 3 Valor $.80.000.000 Sujeto a aprobación y condiciones de crédito por parte de la entidad financiera (Banco de Occidente S.A.). Cuota inicial correspondiente al 10% del valor del vehículo con financiación del 90% a 72 meses los primeros 6 meses compuestas por intereses y cargos fijos (gracia a capital) y a partir del mes 7 en adelante cuotas mensuales compuestas por capital, intereses y cargos fijos. Tasa de interés variable que puede ir desde 0.27% m.v. (3.29% E.A.) sujeta a la IBR más los puntos aprobados, recogiendo las variaciones que haya tenido la IBR en la última cuota. Aplica para clientes con puntaje Clear mayor a 810 puntos. No incluye gastos de matrícula y seguros. No acumulable con otras opciones ni con otras promociones. Más información, consulta en el concesionario.
            </p>
            <br />

            <h4><b>PLAN PAGA EN EL 2023 (24 MESES DE GRACIA) </b></h4>
            <br />
            <h4><b>PERIODO DE GRACIA </b></h4>
            <p>
                La aprobación de la solicitud estará sujeta a las políticas de crédito y condiciones de financiación definidas por el Banco Finandina. Los intereses corrientes que se causen durante el periodo de gracia, esto es entre la fecha del desembolso y la fecha de pago de la primera cuota, se cargarán a la financiación y se pagarán con las cuotas correspondientes de acuerdo con la tasa de interés convenida. Las primas por pólizas de seguros se cobrarán mensualmente a partir del desembolso de la financiación salvo que se haya convenido de otra forma. Aplica únicamente para vehículos particulares nuevos de la marca Mazda, efectuadas por medio de operaciones de crédito. Vigencia del 01 de mayo de 2021 al 31 de Mayo de 2021.
            </p>
            <br />

            <h4><b>RECIBIMOS TU VEHÍCULO USADO CON LOS MEJORES BENEFICIOS DEL MERCADO</b></h4>
            <p>
                <ol>
                    <li>No tener siniestros o reclamaciones en centrales de seguridad al 10%.</li>
                    <li>No superar los 15 mil kilómetros por año en la ciudad de Cali. o 12 mil kilómetros por año en la ciudad de Bogotá.</li>
                    <li>Pasar el peritaje por Motovalle sin costo alguno.</li>
                    <li>No pertenecer a un leasing o tener limitaciones a la propiedad.</li>
                    <li>No tener faltantes en los accesorios básicos (Dos llaves, gato, llanta de repuesto, radio, cruceta y kit de carretera completo.</li>
                    <li>Sujeto a referencias de vehículos seleccionadas.</li>
                </ol>
            </p>

        </section>
    </div>
</div>