
@{
    ViewData["Title"] = "Políticas e información legal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="b-pageHeader privacy">
    <div class="container">
        <h1 class=" wow zoomInLeft" data-wow-delay="0.5s">Políticas e <span>información legal</span></h1>
    </div>
</section><!--b-pageHeader-->

<div class="b-breadCumbs s-shadow">
    <div class="container wow zoomInUp" data-wow-delay="0.5s">
        <a asp-action="Index" asp-controller="Home" class="b-breadCumbs__page">Home</a>
        <span class="fa fa-angle-right"></span><a asp-action="Privacy" asp-controller="Home" class="b-breadCumbs__page m-active">Aviso de privacidad</a>
        <span class="fa fa-angle-right"></span><a asp-action="LegalInformation" asp-controller="Home" class="b-breadCumbs__page m-active">Políticas e información legal</a>
    </div>
</div><!--b-breadCumbs-->

<div class="container wow zoomInLeft" data-wow-delay="0.5s" style="margin-bottom: 4rem;">
    <h2 class="text-center">POLÍTICAS E INFORMACIÓN LEGAL</h2>
    <br />
    <div class="h4" style="line-height: 1.3">
        <section id="ford" style="padding-bottom: 1em;">
            <h2>ANEXO LEGAL FORD</h2>
            <br />


            <h3>PLANES ESPECIALES VEHÍCULOS NUEVOS FORD</h3>
            <br />
            <h4><b>1. FORD BRONCO 50/50 </b></h4>
            <p>
                El plan de financiación puede ser otorgado por cualquiera de las entidades financieras aliadas a Santander Financing S.A.S.,  la cuota inicial del vehículo deberá ser del 50% del valor total del mismo y  el 50% restante podrá pagarse hasta veinticuatro (24) meses después. Durante los primeros veintitrés (23) meses,  el cliente podrá escoger pagar cuotas por concepto de intereses o pagarlos en la última cuota. Los seguros se pagarán de manera anticipada. La tasa de interés podrá ser fija de acuerdo con el perfil crediticio del cliente y las políticas de riesgo de la entidad financiera. El otorgamiento del plan de financiación está sujeto a cumplimiento de las políticas de crédito de las entidades financieras aliadas de Santander Financing S.A.S., y el perfil crediticio del solicitante. Previo al desembolso, los vehículos deberán contar con seguro de auto todo riesgo y el deudor deberá tener contratado el amparo de seguro vida por el valor total del desembolso, los cuales deberán permanecer vigentes durante la vigencia del crédito. Aplican términos y condiciones de la entidad. Vigencia para solicitudes de crédito radicadas con documentación completa hasta el 30 de noviembre de 2021 que se desembolsen antes del 31 de diciembre de 2021. La campaña aplica para todos los concesionarios Motovalle a nivel nacional. Santander Consumer es la marca usada por el Grupo Santander para los productos de retail. En virtud de ello, Santander Financing S.A.S., como entidad originadora puede hacer uso de la misma. Las imágenes son de referencia y pueden variar, aplica para todas las referencias de Ford.APlica para Ford Bronco Sport Wildtrak 4WD.
            </p>
            <br />

            <h4><b>2. Campaña 2x1 Ford Ranger  </b></h4>
            <p>
                Aplica términos y condiciones. Imágenes de referencia. Los beneficios aplican de la siguiente manera. *Sin cuotas x 2 meses aplica si la financiación se hace a través de Banco Santander; el cliente cancelara los intereses y las cuotas de seguros durante esos primeros 60 días.**El cliente recibe dos bonos por $250.000 para la compra de accesorios para su Ford; no se puede aplicar como descuento al vehículo nuevo; estos no son acumulables entre si, es decir, se usa para la compra de 2 accesorios diferentes y el valor del accesorio que desee adquirir debe superar el valor de $1.000.000. No aplica para seguros de pernos o de espejos. ***Los cambios de aceite solo puede hacerlos en FORD MOTOVALLE a los 8.000 Km y 16.000 Km respectivamente; este cambio solo aplica para el aceite, los filtros y demás costos son asumidos por el cliente al momento de su revisión. ****Recibe 2 Bonos de $500.000 para la retoma de su vehículo usado previa inspección y peritaje en las salas de ventas FORD Motovalle ubicadas en la ciudad de Cali y Bogotá; si no tiene vehículo en parte de pago, no aplica el BONO y no se puede usar como descuento para el vehículo nuevo. Promoción valida del 12 de junio hasta el 30 de junio de 2022 o hasta agotar existencias de Ford Ranger en todas sus versiones.
            </p>
            <br />

            <h3>PROMOCIONES PARA POSVENTA</h3>
            <br />

            <h3>PROMOCIONES PARA POST VENTA</h3>
            <br />
            @*
        <h4><b>1. Mantenimiento preventivo hasta con el 30% en Mano de Obra 	 </b></h4>
        <p>
            Aplica solo para Talleres de servicio Motovalle de Cali y Bogotá. Para todos los vehículos Ford aplica descuento del 30% en mano de obra. Únicamente aplica para agendamientos de cita a través de Contact Center y Chat de la compañía www.motovalle.com. En el mes de enero del 2022 el cliente que adquiera esta promoción participará en Ruleta Ganadora de Motovalle donde tendrá los siguientes beneficios:
        </p>

        <p>
            <ol>
                <li>Lavado de Motor. </li>
                <li>Alineación y Balanceo. </li>
                <li>Una (1) aplicación de AirLife. </li>
                <li>Merchandising Motovalle. </li>
                <li>Bonos de cine, pases dobles.</li>

            </ol>
        </p>


        <p>
            El obsequio que gane el concursante está sujeto de acuerdo con la disponibilidad en las diferentes sedes. El merchandising Motovalle puede variar de acuerdo a la disponibilidad en nuestras sedes y será entregado al momento de la entrega del vehículo posterior de la revisión. Oferta valida del 2 al 28 de febrero del 2022.
        </p>
        <br />*@

            <h4><b>1.	Fuera de Garantía 	 </b></h4>
            <p>
                Aplica solamente para las referencias Ford: Fiesta, Focus, Edge 3.5, Explorer 3.5, Escape 2.0, F-150, Fusión 2.0, Edge 2.0, Ecosport 2.0, Explorer 2.3, combustible gasolina, modelos 2013 al 2017.  Aplica solamente con las referencias de aceite 5W20 y 5W30. Solo se ejecutarán las operaciones y repuestos mencionados en esta Campaña. No aplica para referencias diferentes a las mencionadas en esta campaña. No aplica para vehículos con combustible Diesel. Oferta no acumulable con otras campañas y/o promociones. Oferta valida del 1 al 31 de marzo del 2022.
            </p>
            <br />

            <h4><b>2.	Colisión </b></h4>
            <p>
                Aplica solo para centros de servicio Colisión Motovalle. El descuento aplica hasta un 10%, sujeto a evaluación técnica y disponibilidad de repuestos de la marca. Oferta valida del 1 al 31 de marzo del 2022.
            </p>
            <br />


            <h4><b>3.	Colisión Express 	 </b></h4>
            <p>
                Aplica solo para centros de servicio Colisión Motovalle. La oferta solo aplica para pintura laterales izquierdo y derecho. No aplica para reparaciones de piezas de carrocería o pintura de capota y capot. Los valores publicados en la pieza son precios sin iva, el cliente debe asumir este valor al momento del pago de su factura. Oferta valida del 1 al 31 de marzo del 2022.
            </p>
            <br />

            <h4><b>4.	Cambio de Aceite 2X1 	 </b></h4>
            <p>
                Aplica para vehículos Ford Fiesta y Ecosport, solo en Talleres de servicio Motovalle en Cali y Bogotá. El beneficio del 2X1 aplica solo por placa del vehículo. El primer cambio de aceite el cliente paga el valor total del cambio, en el segundo cambio el cliente obtiene gratis el aceite y la mano de obra, solo cancela el filtro de aceite. Beneficio no es transferibles con otro vehículo de ninguna marca. Únicamente aplica para agendamientos de cita a través de Contact Center y Chat de la compañía www.motovalle.com. Oferta valida del 1 hasta el 31 de marzo del 2022.
            </p>
            <br />

            <h4><b>5. Cambio de Aceite Desde $99.000 	 </b></h4>
            <p>
                Aplica solamente para las referencias Ford: Fiesta y Ecosport modelos 2019 hacia atras. Aplica solo en Talleres de servicio Ford Motovalle en Cali y Bogotá.  El valor del cambio de aceite aplica únicamente para la ref 10W30. No aplica para vehiculos Diesel. Únicamente aplica para agendamientos de cita a través de Contact Center y Chat de la compañía www.motovalle.com. Oferta valida del 1 hasta el 31 de marzo del 2022.
            </p>
            <br />






            @*<h4><b>CONCURSO GANA CON MOTOVALLE</b></h4>
        <p>
            Juego promocional válida hasta el 31 de agosto del 2021. Condiciones y restricciones en <a href="https://www.ganaconmotovalle.com" alt="Mazda bioseguridad" rel="noreferrer" target="_blank">www.ganaconmotovalle.com</a>
        </p>
        <br />*@

            @*<h3>PROMOCIONES PARA COLISIÓN</h3>
        <br />

        <h4><b>PROMOCIÓN POR PIEZAS DE PINTURA </b></h4>

        <p>
            <ol>
                <li>Pieza de pintura $240.000 antes de IVA.</li>
                <li>Piezas de pintura $420.000 antes de IVA.</li>
                <li>Piezas de pintura $585.000 antes de IVA.</li>
            </ol>
        </p>
        <br />

        <h4><b>PROMOCIÓN PINTURA EXTERIOR</b></h4>

        <p>
            Pintura Exterior (carro a puerta cerrada) desde $2.800.000 sin IVA. Valores exclusivos hasta el 31 de agosto para proceso de pintura, no incluidos para procesos de reparación de latonería. No acumulable con otras promociones.
        </p>
        <br />





        <h3>PROMOCIONES PARA VEHÍCULOS NUEVOS</h3>
        <br />

        <h4><b>PLAN FINANCIACIÓN FINANDINA</b></h4>
        <br />


        <p><strong>Ford Ranger: </strong>*Esta cuota no incluye cargos fijos. La aprobación de la solicitud estará sujeta a las políticas de crédito y condiciones de financiación definidas por el Banco Finandina. Los intereses corrientes que se causen durante el periodo de gracia, esto es entre la fecha del desembolso y la fecha de pago de la primera cuota, se cargarán a la financiación y se pagarán con las cuotas correspondientes de acuerdo con la tasa de interés desde 0,84 N.M.V. equivalente al 10,56 E.A convenida. Aplica valor residual hasta del 50% sobre el valor de la garantía. Las primas por pólizas de seguros se cobrarán mensualmente a partir del desembolso de la financiación salvo que se haya convenido de otra forma. Aplica únicamente para vehículos particulares nuevos de la marca FORD, efectuadas por medio de operaciones de crédito. Vigencia del 01 de agosto de 2021 al 31 de agosto de 2021.
        </p>
        <br />

        <p>
            <strong>Ford Escape Gasolina: </strong> *Esta cuota no incluye cargos fijos. Aprobación en firme de la financiación sujeta al cumplimiento de las políticas de crédito del Banco Finandina S.A. y las condiciones del producto. Aplica únicamente para financiaciones en plan tradicional sin valor residual para vehículos de uso particular, efectuadas por medio de operaciones de crédito o leasing. La aprobación definitiva de la solicitud y la tasa de interés desde 0,84 N.M.V equivalente al 10,56% E.A. del crédito estarán sujetos a las políticas de crédito y condiciones financiación definidas por el Banco Finandina. El valor de la cuota no incluye las primas por pólizas de seguros. Aplica únicamente para vehículos particulares nuevos de la marca FORD. Vigencia del 01 de agosto de 2021 al 31 de agosto de 2021.
        </p>
        <br />*@


            @*<h4><b>CAMPAÑA BBVA</b></h4>
        <ol>

            <li>Financiación a través de Plan 84 meses de BBVA para vehículos nuevos, con un monto máximo de financiación equivalente hasta el 100% del valor del vehículo. </li>
            <li>La tasa 10.50% EA de interés aquí comunicada es simplemente de referencia (de acuerdo con el mínimo disponible), y la aplicable será la indicada al momento del desembolso la cual es personalizada de acuerdo con la información que el cliente suministre.</li>
            <li>El beneficio de "crédito sin prenda", está sujetos al perfil del cliente de acuerdo con los mínimos aplicables según políticas de producto. </li>
            <li>Aprobación de crédito sujeta a políticas de riesgo de BBVA Colombia.</li>
            <li>Producto de crédito sujeto a reglamento. </li>
            <li>Para ampliar información visite www.bbva.com.co</li>
        </ol>
        <br />*@



            @*<h3>PROMOCIONES PARA REPUESTOS</h3>
        <br />

        <h4><b>BATERÍAS</b></h4>
        <p>
            La instalación a domicilio y revisión eléctrica de la batería se realiza a través de un distribuidor autorizado de Motovalle. Solo aplica para las ciudades de Bogotá y de Cali. Motovalle exime de toda responsabilidad o daño causado por los terceros (Proveedores) que dañe el vehículo o generen un daño al sistema eléctrico del mismo. Oferta Valida del 1 de noviembre del 2021 al 30 de noviembre del 2021.
        </p>
        <br />*@

        </section>

        


        <section id="carshow" style="padding-bottom: 1em;">
            <h2>ANEXO LEGAL CARSHOW - USADOS</h2>
            <br />

            <h4><b>RECIBIMOS TU VEHÍCULO USADO CON LOS MEJORES BENEFICIOS DEL MERCADO </b></h4>
            <p>
                <ol>
                    <li>No tener siniestros o reclamaciones en centrales de seguridad al 10%.</li>
                    <li>No superar los 15 mil kilómetros por año en la ciudad de Cali o 12 mil kilómetros por año en la ciudad de Bogotá.</li>
                    <li>Pasar el peritaje por Motovalle sin costo alguno.</li>
                    <li>No pertenecer a un leasing o tener limitaciones a la propiedad.</li>
                    <li>No tener faltantes en los accesorios básicos (Dos llaves, gato, llanta de repuesto, radio, cruceta y kit de carretera completo).</li>
                    <li>Sujeto a referencias de vehículos seleccionados.</li>
                </ol>
            </p>
        </section>
    </div>
</div>