
@{
    ViewData["Title"] = "Políticas e información legal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="b-pageHeader privacy">
    <div class="container">
        <h1 class=" wow zoomInLeft" data-wow-delay="0.5s">Políticas e <span>información legal</span></h1>
    </div>
</section><!--b-pageHeader-->

<div class="b-breadCumbs s-shadow">
    <div class="container wow zoomInUp" data-wow-delay="0.5s">
        <a asp-action="Index" asp-controller="Home" class="b-breadCumbs__page">Home</a>
        <span class="fa fa-angle-right"></span><a asp-action="Privacy" asp-controller="Home" class="b-breadCumbs__page m-active">Aviso de privacidad</a>
        <span class="fa fa-angle-right"></span><a asp-action="LegalInformation" asp-controller="Home" class="b-breadCumbs__page m-active">Políticas e información legal</a>
    </div>
</div><!--b-breadCumbs-->

<div class="container wow zoomInLeft" data-wow-delay="0.5s" style="margin-bottom: 4rem;">
    <h2 class="text-center">POLÍTICAS E INFORMACIÓN LEGAL</h2>
    <br />
    <div class="h4" style="line-height: 1.3">
        <section id="ford" style="padding-bottom: 1em;">
            <h2>ANEXO LEGAL FORD</h2>
            <br />

            <h3>PROMOCIONES PARA POST VENTA</h3>
            <br />
            <h4><b>1. Mantenimiento preventivo + 15% en Mano de Obra 	 </b></h4>
            <p>
                Aplica para modelos 2018-2021 Ford. Aplica para Talleres de servicio de Cali y Bogotá Motovalle. Únicamente aplica para agendamientos de cita a través de Contact Center y Chat de la compañía www.motovalle.com. Valida del 1 de septiembre del 2021 al 30 de septiembre del 2021.
            </p>

            <br />


            <h4><b>2.	Mantenimiento preventivo + 50% en Mano de Obra 	 </b></h4>

            <p>
                Aplica para modelos Menores o iguales a 2017 Ford. Aplica para Talleres de servicio de Cali y Bogotá Motovalle. Únicamente aplica para agendamientos de cita a través de Contact Center y Chat de la compañía www.motovalle.com. Valida del 1 de septiembre del 2021 al 30 de septiembre del 2021.
            </p>
            <br />

            <h4><b>3.	10% en Cambio de Aceite</b></h4>

            <p>
                Aplica para modelos 2010-2018 Ford. Aplica para Talleres de servicio de Cali y Bogotá Motovalle. Únicamente aplica para agendamientos de cita a través de Contact Center y Chat de la compañía www.motovalle.com. Oferta Valida del 1 de septiembre del 2021 al 30 de septiembre del 2021.
            </p>
            <br />

            @*<h4><b>4.	Gana  con Motovalle </b></h4>

            <p>
                Revisa condiciones y restricciones en <a href="https://www.ganaconmotovalle.com" target="_blank">www.ganaconmotovalle.com</a>
            </p>
            <br />*@

            @*<h4><b>CONCURSO GANA CON MOTOVALLE</b></h4>
        <p>
            Juego promocional válida hasta el 31 de agosto del 2021. Condiciones y restricciones en <a href="https://www.ganaconmotovalle.com" alt="Mazda bioseguridad" rel="noreferrer" target="_blank">www.ganaconmotovalle.com</a>
        </p>
        <br />*@

            @*<h3>PROMOCIONES PARA COLISIÓN</h3>
            <br />

            <h4><b>PROMOCIÓN POR PIEZAS DE PINTURA </b></h4>

            <p>
                <ol>
                    <li>Pieza de pintura $240.000 antes de IVA.</li>
                    <li>Piezas de pintura $420.000 antes de IVA.</li>
                    <li>Piezas de pintura $585.000 antes de IVA.</li>
                </ol>
            </p>
            <br />

            <h4><b>PROMOCIÓN PINTURA EXTERIOR</b></h4>

            <p>
                Pintura Exterior (carro a puerta cerrada) desde $2.800.000 sin IVA. Valores exclusivos hasta el 31 de agosto para proceso de pintura, no incluidos para procesos de reparación de latonería. No acumulable con otras promociones.
            </p>
            <br />


            <h3>PROMOCIONES PARA REPUESTOS</h3>
            <br />

            <h4><b>BATERÍAS</b></h4>

            <p>
                La instalación a domicilio y revisión eléctrica de la batería se realiza a través de un distribuidor autorizado de Motovalle. Solo aplica para las ciudades de Bogotá y de Cali. Motovalle exime de toda responsabilidad o daño causado por los 3eros (Proveedores) que dañe el vehículo o generen un daño al sistema eléctrico del mismo. Oferta Valida del 1 de agosto del 2021 al 31 de agosto del 2021.
            </p>
            <br />


            <h3>PROMOCIONES PARA VEHÍCULOS NUEVOS</h3>
            <br />

            <h4><b>PLAN FINANCIACIÓN FINANDINA</b></h4>
            <br />

            
            <p><strong>Ford Ranger: </strong>*Esta cuota no incluye cargos fijos. La aprobación de la solicitud estará sujeta a las políticas de crédito y condiciones de financiación definidas por el Banco Finandina. Los intereses corrientes que se causen durante el periodo de gracia, esto es entre la fecha del desembolso y la fecha de pago de la primera cuota, se cargarán a la financiación y se pagarán con las cuotas correspondientes de acuerdo con la tasa de interés desde 0,84 N.M.V. equivalente al 10,56 E.A convenida. Aplica valor residual hasta del 50% sobre el valor de la garantía. Las primas por pólizas de seguros se cobrarán mensualmente a partir del desembolso de la financiación salvo que se haya convenido de otra forma. Aplica únicamente para vehículos particulares nuevos de la marca FORD, efectuadas por medio de operaciones de crédito. Vigencia del 01 de agosto de 2021 al 31 de agosto de 2021.
            </p>
            <br />
            
            <p>
                <strong>Ford Escape Gasolina: </strong> *Esta cuota no incluye cargos fijos. Aprobación en firme de la financiación sujeta al cumplimiento de las políticas de crédito del Banco Finandina S.A. y las condiciones del producto. Aplica únicamente para financiaciones en plan tradicional sin valor residual para vehículos de uso particular, efectuadas por medio de operaciones de crédito o leasing. La aprobación definitiva de la solicitud y la tasa de interés desde 0,84 N.M.V equivalente al 10,56% E.A. del crédito estarán sujetos a las políticas de crédito y condiciones financiación definidas por el Banco Finandina. El valor de la cuota no incluye las primas por pólizas de seguros. Aplica únicamente para vehículos particulares nuevos de la marca FORD. Vigencia del 01 de agosto de 2021 al 31 de agosto de 2021.
            </p>
            <br />*@


            @*<h4><b>CAMPAÑA BBVA</b></h4>
        <ol>
            // Enumera los items
            <li>Financiación a través de Plan 84 meses de BBVA para vehículos nuevos, con un monto máximo de financiación equivalente hasta el 100% del valor del vehículo. </li>
            <li>La tasa 10.50% EA de interés aquí comunicada es simplemente de referencia (de acuerdo con el mínimo disponible), y la aplicable será la indicada al momento del desembolso la cual es personalizada de acuerdo con la información que el cliente suministre.</li>
            <li>El beneficio de "crédito sin prenda", está sujetos al perfil del cliente de acuerdo con los mínimos aplicables según políticas de producto. </li>
            <li>Aprobación de crédito sujeta a políticas de riesgo de BBVA Colombia.</li>
            <li>Producto de crédito sujeto a reglamento. </li>
            <li>Para ampliar información visite www.bbva.com.co</li>
        </ol>
        <br />*@
        </section>

        <section id="mazda" style="padding-bottom: 1em;">
            <h2>ANEXO LEGAL MAZDA</h2>
            <br />
            <h3>PROMOCIONES POSVENTA</h3>
            <br />

            <h4><b>1. Mantenimiento preventivo + 15% en Mano de Obra 	 </b></h4>
            <p>
                Aplica para modelos 2018-2021 Mazda. Aplica para Talleres de servicio de Bogotá Motovalle. Únicamente aplica para agendamientos de cita a través de Contact Center y Chat de la compañía www.motovalle.com. Valida del 1 de septiembre del 2021 al 30 de septiembre del 2021.
            </p>

            <br />


            <h4><b>2.	Mantenimiento preventivo + 50% en Mano de Obra 	 </b></h4>

            <p>
                Aplica para modelos Menores o iguales a 2017 Mazda. Aplica para Talleres de servicio de Bogotá Motovalle. Únicamente aplica para agendamientos de cita a través de Contact Center y Chat de la compañía www.motovalle.com. Valida del 1 de septiembre del 2021 al 30 de septiembre del 2021.
            </p>
            <br />

            <h4><b>3.	Campaña de seguridad</b></h4>
            <p>
                Consulta si tu vehículo Mazda hace parte de esta o cualquier otra campaña de seguridad, ingresando tu vin o número de chasis en: www.mazda.com.co/propietarios/campanas-de-seguridad/
            </p>
            <br />

            <h4><b>4.	Servicio inmediato</b></h4>
            <p>
                Cambio de aceite en 70 min, revisiones de 10,20 y 30  en 90 min sino cumplimos con el tiempo, no pagas la mano de obra del servicio ( 6:00 am a 8:00 am y 1:00 pm a 3:00PM) Solo aplica para clientes con cita agendada y cumplida en la hora. No aplica si el vehículo presenta trabajos adicionales. Oferta valida del 01 de septiembre de 2021 al 30 de septiembre de 2021.
            </p>
            <br />

            @*<h3>PROMOCIONES PARA VEHíCULOS NUEVOS</h3>
            <br />

            <h4><b>1.	Planes de Financiación Finandina</b></h4>
            <p>
                <strong>MAZDA CX30: </strong>La aprobación de la solicitud estará sujeta a las políticas de crédito y condiciones de financiación definidas por el Banco Finandina. Los intereses corrientes que se causen durante el periodo de gracia, esto es entre la fecha del desembolso y la fecha de pago de la primera cuota, se cargarán a la financiación y se pagarán con las cuotas correspondientes de acuerdo a la tasa de interés convenida. . Tasa de interés desde el 0,79 N.M.V. equivalente al 9,90 E.A.. Las primas por pólizas de seguros se cobrarán mensualmente a partir del desembolso de la financiación salvo que se haya convenido de otra forma. Aplica únicamente para vehículos particulares nuevos de la marca Mazda, efectuadas por medio de operaciones de crédito. Vigencia 01 de agosto de 2021 hasta 31 de agosto de 2021
            </p>
            <p>
                <strong>MAZDA 2: </strong>El precio que se utiliza para cotizar puede variar según el concesionario o aliado de la marca. Aprobación en firme de la financiación sujeta al cumplimiento de las políticas de crédito del Banco Finandina S.A. y las condiciones del producto. Aplica únicamente para financiaciones en plan tradicional , efectuadas por medio de operaciones de crédito o leasing. La aprobación definitiva de la solicitud y la tasa de interés del crédito estarán sujetos a las políticas de crédito y condiciones financiación definidas por el Banco Finandina. Tasa de interés desde el 0,79 N.M.V. equivalente al 9,90 E.A.. El valor de la cuota no incluye las primas por pólizas de seguros. Aplica únicamente para vehículos particulares nuevos de la marca Mazda. 01 de agosto de 2021 hasta 31 de Agosto de 2021.
            </p>
            <br />

            <h4><b>2.	100% Pago tarjeta de crédito</b></h4>
            <p>
                Compra el 100% de vehículos mazda en Motovalle 127 con tarjeta de crédito sin cobro de comisión. Aplica a cualquier franquicia de tarjeta de crédito. Oferta valida del 01 de agosto de 2021 hasta 31 de Agosto de 2021. La oferta aplica a cualquier vehículo mazda disponible en inventario de Motovalle. Aplica para venta de vehículos nuevos.
            </p>
            <br />*@

            <h4><b>RECIBIMOS TU VEHÍCULO USADO CON LOS MEJORES BENEFICIOS DEL MERCADO</b></h4>
            <p>
                <ol>
                    <li>No tener siniestros o reclamaciones en centrales de seguridad al 10%.</li>
                    <li>No superar los 15 mil kilómetros por año en la ciudad de Cali o 12 mil kilómetros por año en la ciudad de Bogotá.</li>
                    <li>Pasar el peritaje por Motovalle sin costo alguno.</li>
                    <li>No pertenecer a un leasing o tener limitaciones a la propiedad.</li>
                    <li>No tener faltantes en los accesorios básicos (Dos llaves, gato, llanta de repuesto, radio, cruceta y kit de carretera completo).</li>
                    <li>Sujeto a referencias de vehículos seleccionados.</li>
                </ol>
            </p>
        </section>
    </div>
</div>