
@{
    ViewData["Title"] = "Test Page";

    Layout = "~/Views/Shared/_LayoutMazda.cshtml";

}

<section class="b-pageHeader mazda">
    <div class="container">
        <h1 class="wow zoomInLeft" data-wow-delay="0.7s">Test Page </h1>
        <div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.7s">

        </div>
    </div>
</section><!--b-pageHeader-->

<div class="b-breadCumbs s-shadow">
    <div class="container wow zoomInUp" data-wow-delay="0.5s">
        <a class="b-breadCumbs__page" href="/">Home</a><span class="fa fa-angle-right"></span><a class="b-breadCumbs__page m-active" href="www.tiendamotovalle.com">Test Page</a>
    </div>
</div><!--b-breadCumbs-->

<section class="content">
    <div class="container">
        <div class="wow zoomInUp text-center" data-wow-delay="0.5s" style="margin-top:4em; margin-bottom:3em;">
            <h1>"Test Page"</h1>
        </div>
        <div class="row">
            <!--add content here-->
            <div class="col-lg-8 col-md-8">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="b-detail__main-info-text wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-detail__main-aside-about-form-links">
                        <a href="#" class="j-tab m-active s-lineDownCenter" data-to='#info1' id="checkoutInfo1Id"><b>HISTORIA</b></a>
                        <a href="#" class="j-tab" data-to='#info2' id="checkoutInfo2Id"><b>DETRAS DE LOS DETALLES</b></a>
                        <a href="#" class="j-tab" data-to='#info3' id="checkoutInfo3Id"><b>DESAFIA LO CONVENCIONAL</b></a>
                        <a href="#" class="j-tab" data-to='#info4' id="checkoutInfo4Id"><b>JINBA ITTAI</b></a>
                        <a href="#" class="j-tab" data-to='#info5' id="checkoutInfo5Id"><b>HISTORIA MAZDA</b></a>
                    </div>
                    <div class="render-loading" style="display: none">
                        <div class="text-center">
                            <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                    <div id="info1">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                Historia
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="text-left">
                                    <h3>Los primeros años: tres ruedas y la reconstrucción de una ciudad.</h3>
                                    <p>El primer vehículo que fue lanzado por la marca, fue el modelo MazdaGo de tres ruedas, que se exportó a la India y China, países en los que se hizo muy popular gracias a su maniobrabilidad. Este es solo un ejemplo del planteamiento poco convencional y la actitud positiva y dinámica de Mazda, que viene de la mano del "espíritu de Hiroshima" de superar los desafíos. Aun así, la demostración definitiva del espíritu único de Mazda se produjo en 1945. Justo después del lanzamiento de la bomba atómica. Mazda desempeñó un papel esencial en la reconstrucción de Hiroshima, ya que la planta de Mazda resultó relativamente indemne en la catástrofe y se utilizó como base para organizar la reconstrucción y prestar servicios de auxilio.</p>

                                    <br />

                                    <h3>El motor rotativo: rompiendo con lo establecido.</h3>
                                    <p>Un motor verdaderamente revolucionario, por otra parte, hace exactamente eso: revoluciona y gira. Este fue el planteamiento en torno al motor rotativo de Felix Wankel, en el que la combustión hace girar un disco plano en lugar de empujar los pistones hacia arriba y hacia abajo. Mazda adquirió esta tecnología a finales de la década de los cincuenta y es el único fabricante que sigue aplicando este concepto de motor diferente de los demás hasta la fecha. Perfecto para su uso en carros deportivos gracias a sus dimensiones reducidas y su alto nivel de revoluciones por minuto, el motor rotativo se incorporó en diversos modelos de Mazda, desde el sorprendente Cosmo 110S hasta los legendarios RX-7 y RX-8. El motor rotativo también se incluyó en los carros de carreras 787, famosos por ganar las 24 horas de Le Mans en 1991.</p>
                                    <p>Sus dimensiones reducidas y su alto nivel de revoluciones por minuto, el motor rotativo se incorporó en diversos modelos de Mazda, desde el sorprendente Cosmo 110S hasta los legendarios RX-7 y RX-8. El motor rotativo también se incluyó en los carros de carreras 787, famosos por ganar las 24 horas de Le Mans en 1991.</p>
                                    <br />

                                    <h3>El MX-5: el roadster ha vuelto para quedarse.</h3>
                                    <p>En la década de los ochenta, ya no se fabricaban roadsters. Su auge en la Gran Bretaña de los cincuenta y los sesenta se había acabado. Sin embargo, apareció Mazda con su planteamiento de crear un roadster deportivo para tiempos más modernos que fuera fiable y divertido de conducir, con el objetivo de romper con los planteamientos convencionales y diseñar un carro que recuperara el placer de manejar en su concepto más básico. La balanza se inclinó por el MX-5 original que, con solo 955 kilogramos, era un carro deportivo verdaderamente ligero que además, podía presumir de un diseño con motor delantero y tracción trasera con una dinámica de conducción excepcional. El roadster había vuelto a nacer. De hecho, el MX-5 era tan divertido de conducir y suponía tal placer tener uno, que se convirtió en el roadster más vendido de todos los tiempos.</p>
                                    <p>955 kilogramos, era un carro deportivo verdaderamente ligero que además, podía presumir de un diseño con motor delantero y tracción trasera con una dinámica de conducción excepcional. El roadster había vuelto a nacer. De hecho, el MX-5 era tan divertido de conducir y suponía tal placer tener uno, que se convirtió en el roadster más vendido de todos los tiempos.</p>

                                    <br />
                                    <h3>

                                        La victoria en Le Mans: una revolución en 24 horas
                                    </h3>
                                    <p>Ningún equipo japonés había ganado nunca la competición de Le Mans...hasta 1991. Ese fue el año en que Mazda rompió definitivamente con las normas establecidas e introdujo sus carros de carreras 787 con motor rotativo en la prueba de resistencia más prestigiosa y antigua del mundo. A pesar de la falta de potencia de los 787 en la competición, contaban con la ventaja de ofrecer una mayor fiabilidad y Mazda consiguió liderar y ganar la carrera. Se trata de un hito y un récord que sigue vigente hasta la fecha, ya que Mazda es el único equipo japonés que ha ganado esta competición y es la única victoria que ha conseguido un carro con un motor cuyo diseño no es de tipo alternativo. Todo gracias a un planteamiento diferente y a nuestra determinación de romper con lo establecido.</p>
                                    <p></p>

                                    <br />
                                    <h3>
                                        La generación Zoom Zoom: desde el Mazda6 hasta el RX-8
                                    </h3>
                                    <p>Un nuevo diseño acompañado de un nuevo slogan, Zoom-Zoom, representa la energía que sentíamos de niños con el movimiento. Plasmando esta idea en los automóviles, se consigue una experiencia de conducción dinámica, además de un diseño sorprendente. El Mazda 6 es la primera expresión de este planteamiento y se lanza entre grandes alabanzas en 2002. Le sigue el revolucionario e innovador RX-8 en 2003. Se trata de un carro verdaderamente orientado al conductor que incluye unas versátiles puertas "freestyle" y una interpretación moderna del motor rotativo, ganador de los galardones "Motor Internacional del Año" y "Mejor Motor Nuevo".</p>

                                    <br />
                                    <h3>
                                        EL 90 ANIVERSARIO
                                    </h3>
                                    <p>
                                        90 años de superación gracias a 90 años de ideas fuera de lo convencional.

                                        Si analizamos los carros que Mazda ha diseñado durante más de 90 años, observaremos fácilmente que tener planteamientos diferentes nos ha llevado a fabricar carros apasionantes, innovadores y divertidos de manejar, todo ello de la mano de un grupo único de profesionales apasionados. Desde el superventas MX-5 hasta el dinámico CX-7, Mazda ha seguido sacando el máximo partido a su tradición de ingeniería innovadora y a su espíritu revolucionario. Ahora vamos por los siguientes 90 años.
                                    </p>

                                    <br />
                                    <h3>EL FUTURO</h3>
                                    <p>Desde el movimiento con alma hasta el diseño de motores radicalmente diferentes, el futuro se presenta emocionante para Mazda. Con un bagaje de innovación de casi un siglo, seguiremos buscando soluciones únicas para los desafíos a los que nos enfrentemos haciendo las cosas como nadie más puede soñar hacerlas. Nuestra nueva Tecnología SKYACTIV reduce el consumo de combustible al tiempo que lleva el placer de manejar a nuevos niveles y nuestro nuevo diseño "KODO - Alma del Movimiento" te acelera el corazón como nunca lo había hecho antes.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="info2">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="text-center">
                                    <p>El desafío de pensar en cada detalle milimétricamente, se ve reflejado en Ryo Yanagisawa y su equipo de diseño e innovación, quienes aplicaron el lenguaje de diseño “KODO – Alma del movimiento” a un carro concepto denominado Hazumi, que luego se convirtió en la inspiración para hacer realidad el Nuevo Mazda 2, el cual hoy hace parte de la última generación de vehículos Mazda a nivel global.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="info3">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                Info 3
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="text-center">
                                    <p>Info 3</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="info4">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                Info 4
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="text-center">
                                    <p>Info 4</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="info5">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                Info 5
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="text-center">
                                    <p>Info 5</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
