@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="b-pageHeader privacy">
    <div class="container">
        <h1 class=" wow zoomInLeft" data-wow-delay="0.5s">Aviso de <span>privacidad</span></h1>
    </div>
</section><!--b-pageHeader-->

<div class="b-breadCumbs s-shadow">
    <div class="container wow zoomInUp" data-wow-delay="0.5s">
        <a asp-action="Index" asp-controller="Home" class="b-breadCumbs__page">Home</a><span class="fa fa-angle-right"></span><a asp-action="Privacy" asp-controller="Home" class="b-breadCumbs__page m-active">Aviso de privacidad</a>
    </div>
</div><!--b-breadCumbs-->

<div class="container wow zoomInLeft" data-wow-delay="0.5s" style="margin-bottom: 4rem;">
    <h2 class="text-center">AVISO DE PRIVACIDAD</h2>
    <br />
    <div class="h4" style="line-height: 1.3">
        <p>
            Mediante el suministro de datos para la entrada a las instalaciones de <b>MOTORES DEL VALLE S.A.S. - MOTOVALLE</b>,
            usted autoriza el tratamiento de sus datos personales de acuerdo con las Políticas de Privacidad de la compañía. Según lo dispuesto en la Ley 1581 de 2012, <b>MOTORES DEL VALLE S.A.S. – MOTOVALLE</b>,
            informa:
        </p>
        <br />
        <p>
            <b>Responsable del Tratamiento de Datos Personales:</b> El responsable de tratamiento de los datos personales y otra información que se obtiene de los visitantes a nuestras instalaciones
            es la empresa <b>MOTORES DEL VALLE S.A.S. - MOTOVALLE</b>, con NIT. 890.301.680-1; domicilio y dirección en Calle 26 # 1 – 71 (Cali) y Calle 13 # 49 – 91 (Bogotá), Colombia;
            Teléfono: (2)4883000; (1)7461234; Correo electrónico: <a href="mailto:protecciondedatos@motovalle.com" rel="noreferrer">protecciondedatos@motovalle.com</a>.
        </p>
        <br />
        <p>
            <b>Finalidad y Tratamiento de las Bases de Datos:</b> Los datos personales recopilados serán almacenados, usados y tratados de conformidad con las Políticas de Privacidad disponibles
            en la página web <a href="https://www.motovalle.com/" rel="noreferrer">www.motovalle.com</a> y, en el caso de los datos recopilados de nuestros visitantes, especialmente para finalidades de seguridad y vigilancia y para llevar un registro y control de quiénes ingresan a la compañía. Durante la permanencia dentro y en los alrededores de las instalaciones de la empresa Motores del Valle S.A.S. – Motovalle, y por su seguridad, podrá ser filmado por un circuito cerrado de televisión. Los datos recopilados tendrán como única finalidad la video vigilancia, seguridad de ingreso a las instalaciones y práctica de investigaciones administrativas o penales. Los datos serán conservados en la base de datos de la sociedad por 70 días, y solo serán compartidos por orden de autoridad competente.
        </p>
        <br />
        <p>
            <b>Derechos de los Titulares:</b> De conformidad con la legislación vigente, los titulares tienen el derecho de a) Conocer, actualizar y rectificar sus datos personales; b) Solicitar prueba de la autorización otorgada; c) Ser informado, previa solicitud, respecto del uso que le ha dado a sus datos personales; d) Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la Ley: e) Revocar la autorización y/o solicitar la supresión del dato y f) Acceder en forma gratuita a sus datos personales que hayan sido objeto de Tratamiento.
        </p>
    </div>
    <div class="text-center">
        <br />
        <h4><b>Más información</b></h4>
        <a href="~/files/POLITICA DATOS PERSONALES MOTOVALLE[2336].pdf" rel="noreferrer" target="_blank" title="Política de tratamiento de datos">Política de tratamiento de datos</a><br />
        <a asp-action="LegalInformation" asp-controller="Home" rel="noreferrer" title="Políticas e información legal">Políticas e información legal</a>
    </div>
</div>