<aside class="b-blog__aside">
    <div class="b-blog__aside-categories wow zoomInUp" data-wow-delay="0.5s">
        <header class="s-lineDownLeft">
            <h2 class="s-titleDet">Categorias</h2>
        </header>
        <nav>
            <ul class="b-blog__aside-categories-list">
                <li><a asp-controller="MasseyFerguson" asp-action="Index"><i class="fa fa-home"></i> Massey Ferguson Home</a></li>
                <li><a asp-controller="Pages" asp-action="MasseyQuienesSomos">¿Quiénes Somos?</a></li>
                <li><a asp-controller="Pages" asp-action="MasseyFilosofia">Filosofía</a></li>
                <li><a asp-controller="Pages" asp-action="MasseyValores">Valores</a></li>
                <li><a asp-controller="Pages" asp-action="MasseyClubOperadores">Club de Operadores</a></li>
            </ul>
        </nav>
    </div>
</aside>