<aside class="b-blog__aside">
    <div class="b-blog__aside-categories wow zoomInUp" data-wow-delay="0.5s">
        <header class="s-lineDownLeft">
            <h2 class="s-titleDet">Categorias</h2>
        </header>
        <nav>
            <ul class="b-blog__aside-categories-list">
                <li><a asp-controller="Pages" asp-action="MazdaServicios">Servicios</a></li>
                <li><a href="https://capnet2.ddns.net:3000/Mazda_Motovalle/csl/cita-servicio/nueva">Agendamiento</a></li>
                <li><a asp-controller="LandingPages" asp-action="Page" asp-route-page="mazda/servicios/servicio">Campaña de Servicios</a></li>
                <li><a asp-controller="Pages" asp-action="MazdaRepuestosAccesorios">Repuestos y Accesorios</a></li>
                <li><a asp-controller="Pages" asp-action="EspirituMazda">Espíritu Mazda</a></li>
                <li><a asp-controller="LandingPages" asp-action="Page" asp-route-page="mazda/diseno-y-tecnologia">Diseño y Tecnología</a></li>
                <li><a asp-controller="Pages" asp-action="Mantenimientos" asp-route-makesName="Mazda">Mantenimientos</a></li>
            </ul>
        </nav>
    </div>

</aside>

