<div class="container">
    <div class="b-compare__block wow zoomInUp">
        <button data-toggle="collapse" data-target="#tensores" class="repuestos-button">
            <h4 class="pull-left"><b>TENSORES</b></h4> <span class="fa fa-angle-down fa-3x pull-right fordColor"></span>
        </button>
        <div id="tensores" class="collapse">
            <div class="row">
                <div class="b-personal__worker-img">
                    <img src="~/repuestos/landing/repuesto-1-1.png" class="rounded-lg" alt="Tensores" />
                </div>
            </div>
        </div>
    </div>

    <div class="b-compare__block wow zoomInUp">
        <button data-toggle="collapse" data-target="#pastillas" class="repuestos-button">
            <h4 class="pull-left"><b>PASTILLAS</b></h4> <span class="fa fa-angle-down fa-3x pull-right fordColor"></span>
        </button>
        <div id="pastillas" class="collapse">
            <div class="row">
                <div class="b-personal__worker-img">
                    <img src="~/repuestos/landing/repuesto-2-1.png" class="rounded-lg" alt="Pastillas" />
                </div>
            </div>
        </div>
    </div>

    <div class="b-compare__block wow zoomInUp">
        <button data-toggle="collapse" data-target="#filtros" class="repuestos-button">
            <h4 class="pull-left"><b>FILTROS</b></h4> <span class="fa fa-angle-down fa-3x pull-right fordColor"></span>
        </button>
        <div id="filtros" class="collapse">
            <div class="row">
                <div class="b-personal__worker-img">
                    <img src="~/repuestos/landing/repuesto-3-1.png" class="rounded-lg" alt="Filtros" />
                </div>
            </div>
        </div>
    </div>

    <div class="b-compare__block wow zoomInUp">
        <button data-toggle="collapse" data-target="#guayas" class="repuestos-button">
            <h4 class="pull-left"><b>GUAYAS</b></h4> <span class="fa fa-angle-down fa-3x pull-right fordColor"></span>
        </button>
        <div id="guayas" class="collapse">
            <div class="row">
                <div class="b-personal__worker-img">
                    <img src="~/repuestos/landing/repuesto-5-1.png" class="rounded-lg" alt="Stops-farolas" />
                </div>
            </div>
        </div>
    </div>

    <div class="b-compare__block wow zoomInUp">
        <button data-toggle="collapse" data-target="#bloqueDeMotorLargo" class="repuestos-button">
            <h4 class="pull-left"><b>BLOQUE DE MOTOR LARGO</b></h4> <span class="fa fa-angle-down fa-3x pull-right fordColor"></span>
        </button>
        <div id="bloqueDeMotorLargo" class="collapse">
            <div class="row">
                <div class="b-personal__worker-img">
                    <img src="~/repuestos/landing/bloque-motor-largo.jpg" class="rounded-lg" alt="bloque-largo-motor" />
                </div>
            </div>
        </div>
    </div>

    <div class="b-compare__block wow zoomInUp">
        <button data-toggle="collapse" data-target="#culataMotor" class="repuestos-button">
            <h4 class="pull-left"><b>CULATA DE MOTOR</b></h4> <span class="fa fa-angle-down fa-3x pull-right fordColor"></span>
        </button>
        <div id="culataMotor" class="collapse">
            <div class="row">
                <div class="b-personal__worker-img">
                    <img src="~/repuestos/landing/culata-motor.jpg" class="rounded-lg" alt="culata" />
                </div>
            </div>
        </div>
    </div>

    <div class="b-compare__block wow zoomInUp">
        <button data-toggle="collapse" data-target="#alternador" class="repuestos-button">
            <h4 class="pull-left"><b>ALTERNADOR</b></h4> <span class="fa fa-angle-down fa-3x pull-right fordColor"></span>
        </button>
        <div id="alternador" class="collapse">
            <div class="row">
                <div class="b-personal__worker-img">
                    <img src="~/repuestos/landing/alternador.jpg" class="rounded-lg" alt="Alternador" />
                </div>
            </div>
        </div>
    </div>

    <div class="b-compare__block wow zoomInUp">
        <button data-toggle="collapse" data-target="#motores" class="repuestos-button">
            <h4 class="pull-left"><b>MOTORES</b></h4> <span class="fa fa-angle-down fa-3x pull-right fordColor"></span>
        </button>
        <div id="motores" class="collapse">
            <div class="row">
                <div class="b-personal__worker-img">
                    <img src="~/repuestos/landing/motores.jpg" class="rounded-lg" alt="motores" />
                </div>
            </div>
        </div>
    </div>


    <div class="b-compare__block wow zoomInUp">
        <button data-toggle="collapse" data-target="#rejillas" class="repuestos-button">
            <h4 class="pull-left"><b>PARACHOQUES Y REJILLAS</b></h4> <span class="fa fa-angle-down fa-3x pull-right fordColor"></span>
        </button>
        <div id="rejillas" class="collapse">
            <div class="row">
                <div class="b-personal__worker-img">
                    <img src="~/repuestos/landing/parachoques.jpg" class="rounded-lg" alt="parachoques-rejillas" />
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
        <div class="b-personal hiring" style="margin-bottom:-3em;">
            <div id="carousel-small" class="owl-carousel enable-owl-carousel" data-items="5" data-navigation="true" data-auto-play="true" data-stop-on-hover="true" data-items-desktop="5" data-items-desktop-small="3" data-items-tablet="3" data-items-tablet-small="3">
                <div>
                    <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                        <div class="b-personal__worker-img">
                            <img src="~/repuestos/landing/repuesto-1-1.png" class="rounded-lg" alt="Tensores" />
                        </div>
                        <h3 class="text-center">Tensores</h3>
                    </div>
                </div>
                <div>
                    <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                        <div class="b-personal__worker-img">
                            <img src="~/repuestos/landing/repuesto-2-1.png" class="rounded-lg" alt="Pastillas" />
                        </div>
                        <h3 class="text-center">Pastillas</h3>
                    </div>
                </div>
                <div>
                    <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                        <div class="b-personal__worker-img">
                            <img src="~/repuestos/landing/repuesto-3-1.png" class="rounded-lg" alt="Filtros" />
                        </div>
                        <h3 class="text-center">Filtros</h3>
                    </div>
                </div>
                <div>
                    <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                        <div class="b-personal__worker-img">
                            <img src="~/repuestos/landing/repuesto-4-1.png" class="rounded-lg" alt="Guayas" />
                        </div>
                        <h3 class="text-center">Guayas</h3>
                    </div>
                </div>
                <div>
                    <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                        <div class="b-personal__worker-img">
                            <img src="~/repuestos/landing/repuesto-5-1.png" class="rounded-lg" alt="Stops-farolas" />
                        </div>
                        <h3 class="text-center">Stops y Farolas</h3>
                    </div>
                </div>
                <div>
                    <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                        <div class="b-personal__worker-img">
                            <img src="~/repuestos/landing/bloque-motor-largo.jpg" class="rounded-lg" alt="bloque-largo-motor" />
                        </div>
                        <h3 class="text-center">Bloque de motor largo</h3>
                    </div>
                </div>
                <div>
                    <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                        <div class="b-personal__worker-img">
                            <img src="~/repuestos/landing/culata-motor.jpg" class="rounded-lg" alt="culata" />
                        </div>
                        <h3 class="text-center">Culata de motor</h3>
                    </div>
                </div>
                <div>
                    <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                        <div class="b-personal__worker-img">
                            <img src="~/repuestos/landing/alternador.jpg" class="rounded-lg" alt="Alternador" />
                        </div>
                        <h3 class="text-center">Alternador</h3>
                    </div>
                </div>
                <div>
                    <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                        <div class="b-personal__worker-img">
                            <img src="~/repuestos/landing/motores.jpg" class="rounded-lg" alt="motores" />
                        </div>
                        <h3 class="text-center">Motores</h3>
                    </div>
                </div>
                <div>
                    <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                        <div class="b-personal__worker-img">
                            <img src="~/repuestos/landing/parachoques.jpg" class="rounded-lg" alt="parachoques-rejillas" />
                        </div>
                        <h3 class="text-center">Parachoques y rejillas</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>*@