<div class="container">
    <div class="b-compare__block wow zoomInUp">
        <button data-toggle="collapse" data-target="#bateriasMotorcraft" class="repuestos-button">
            <h4 class="pull-left"><b>BATERÍAS</b></h4> <span class="fa fa-angle-down fa-3x pull-right motorcraftColor"></span>
        </button>
        <div id="bateriasMotorcraft" class="collapse">
            <div class="row">
                <div class="b-personal__worker-img">
                    <img src="~/repuestos/landing/motorcraft/motorcraft-2.png" class="rounded-lg" alt="bujias" />
                </div>
            </div>
        </div>
    </div>

    <div class="b-compare__block wow zoomInUp">
        <button data-toggle="collapse" data-target="#bujiasMotorcraft" class="repuestos-button">
            <h4 class="pull-left"><b>BUJÍAS</b></h4> <span class="fa fa-angle-down fa-3x pull-right motorcraftColor"></span>
        </button>
        <div id="bujiasMotorcraft" class="collapse">
            <div class="row">
                <div class="b-personal__worker-img">
                    <img src="~/repuestos/landing/motorcraft/motorcraft-2.png" class="rounded-lg" alt="bujias" />
                </div>
            </div>
        </div>
    </div>

    <div class="b-compare__block wow zoomInUp">
        <button data-toggle="collapse" data-target="#filtrosMotorcraft" class="repuestos-button">
            <h4 class="pull-left"><b>FILTROS</b></h4> <span class="fa fa-angle-down fa-3x pull-right motorcraftColor"></span>
        </button>
        <div id="filtrosMotorcraft" class="collapse">
            <div class="row">
                <div class="b-personal__worker-img">
                    <img src="~/repuestos/landing/motorcraft/motorcraft-2-1.png" class="rounded-lg" alt="baterias" />
                </div>
            </div>
        </div>
    </div>

    <div class="b-compare__block wow zoomInUp">
        <button data-toggle="collapse" data-target="#lubricantesMotorcraft" class="repuestos-button">
            <h4 class="pull-left"><b>LUBRICANTES</b></h4> <span class="fa fa-angle-down fa-3x pull-right motorcraftColor"></span>
        </button>
        <div id="lubricantesMotorcraft" class="collapse">
            <div class="row">
                <div class="b-personal__worker-img">
                    <img src="~/repuestos/landing/motorcraft/motorcraft-4-1.png" class="rounded-lg" alt="Lubricantes" />
                </div>
            </div>
        </div>
    </div>

    <div class="b-compare__block wow zoomInUp">
        <button data-toggle="collapse" data-target="#quimicosMotorcraft" class="repuestos-button">
            <h4 class="pull-left"><b>QUÍMICOS</b></h4> <span class="fa fa-angle-down fa-3x pull-right motorcraftColor"></span>
        </button>
        <div id="quimicosMotorcraft" class="collapse">
            <div class="row">
                <div class="b-personal__worker-img">
                    <img src="~/repuestos/landing/motorcraft/motorcraft-5-1.png" class="rounded-lg" alt="quimicos" />
                </div>
            </div>
        </div>
    </div>


    <div class="b-compare__block wow zoomInUp">
        <button data-toggle="collapse" data-target="#quimicosEstMotorcraft" class="repuestos-button">
            <h4 class="pull-left"><b>QUÍMICOS ESTÉTICOS</b></h4> <span class="fa fa-angle-down fa-3x pull-right motorcraftColor"></span>
        </button>
        <div id="quimicosEstMotorcraft" class="collapse">
            <div class="row">
                <div class="b-personal__worker-img">
                    <img src="~/repuestos/landing/motorcraft/motorcraft-6-1.png" class="rounded-lg" alt="baterias" />
                </div>
            </div>
        </div>
    </div>


</div>

@*<div class="row">
    <div class="b-personal hiring" style="margin-bottom:-3em;">
        <div id="carousel-small" class="owl-carousel enable-owl-carousel" data-items="5" data-navigation="true" data-auto-play="true" data-stop-on-hover="true" data-items-desktop="5" data-items-desktop-small="3" data-items-tablet="3" data-items-tablet-small="3">
            <div>
                <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-personal__worker-img">
                        <img src="~/repuestos/landing/motorcraft/motorcraft-1.png" class="rounded-lg" alt="baterias" />
                    </div>
                    <h3 class="text-center"><b>Baterías</b></h3>
                </div>
            </div>
            <div>
                <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-personal__worker-img">
                        <img src="~/repuestos/landing/motorcraft/motorcraft-2.png" class="rounded-lg" alt="bujias" />
                    </div>
                    <h3 class="text-center"><b>Bujías</b></h3>
                </div>
            </div>
            <div>
                <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-personal__worker-img">
                        <img src="~/repuestos/landing/motorcraft/motorcraft-2-1.png" class="rounded-lg" alt="baterias" />
                    </div>
                    <h3 class="text-center"><b>Filtros</b></h3>
                </div>
            </div>
            <div>
                <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-personal__worker-img">
                        <img src="~/repuestos/landing/motorcraft/motorcraft-4-1.png" class="rounded-lg" alt="Lubricantes" />
                    </div>
                    <h3 class="text-center"><b>Lubricantes</b></h3>
                </div>
            </div>
            <div>
                <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-personal__worker-img">
                        <img src="~/repuestos/landing/motorcraft/motorcraft-5-1.png" class="rounded-lg" alt="quimicos" />
                    </div>
                    <h3 class="text-center"><b>Químicos</b></h3>
                </div>
            </div>
            <div>
                <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-personal__worker-img">
                        <img src="~/repuestos/landing/motorcraft/motorcraft-6-1.png" class="rounded-lg" alt="baterias" />
                    </div>
                    <h3 class="text-center"><b>Químicos estéticos</b></h3>
                </div>
            </div>
        </div>
    </div>
</div>*@