@model motovalle.Ecommerce.Models.ViewModels.Landing.ContactLavadoGratisViewModel

@{
    ViewData["Title"] = "Lavado Ilimitado Gratis";
    Layout = "~/Views/Shared/Landing/_LayoutLanding.cshtml";
}



<div class="view full-page-intro-carshow">

        <div class="propia">

            <label class="encabezados"> Nombre completo</label>
            <input class="cuerpo text-black-50 form-control" type="text" />

            <label class="encabezados"> Nombre completo</label>
            <input class="cuerpo text-black-50" type="text" !disabled />
        </div>
    </div>

@*<div class="view full-page-intro-carshow">
    <div class="card float-right" style="width: 30%; height:100%;">

        <form action="/" method="post">
            <div class="form-row" style="margin-left:2%; margin-right:2%;">
                <div class="col">
                    <label class="label">Nombre completo </label>
                    <input type="text" class="form-control">
                </div>
                <div class="col">
                    <label class="label">Apellido </label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-row" style="margin-left:2%; margin-right:2%;">
                <div class="col">
                    <label class="label">Nombre completo </label>
                    <input type="text" class="form-control">
                </div>
                <div class="col">
                    <label class="label">Apellido </label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </form>
    </div>
</div>*@


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript">
        window.onload = () => {
            document.querySelector("#FullName").value = "";
            document.querySelector("#Email").value = "";
            document.querySelector("#PhoneNumber").value = "";
            document.querySelector("#Message").value = "";
            document.querySelector("#City").value = "";
        }
    </script>
}
