@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<section class="b-pageHeader identity">
    <div class="container">
        <h1 class="wow zoomInLeft" data-wow-delay="0.5s">Confirmación de recuperación de contraseña</h1>
        <div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.5s">
            <h3>Te ayudamos a recuperar tu contraseña</h3>
        </div>
    </div>
</section>

<div class="b-breadCumbs s-shadow wow zoomInUp" data-wow-delay="0.5s">
    <div class="container">
        <a asp-controller="Home" asp-action="Index" class="b-breadCumbs__page">Home</a><span class="fa fa-angle-right"></span><a asp-area="Identity" asp-page="/Account/ForgotPasswordConfirmation" class="b-breadCumbs__page m-active">Confirmación de recuperación de contraseña</a>
    </div>
</div>


<section class="b-breadCumbs wow zoomInUp" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <h2>Confirmación de recuperación de contraseña</h2>
            <p>
                Por favor verifica tu buzón de correo para continuar con el proceso de recuperación de contraseña.
            </p>
        </div>
        @{ await Html.RenderPartialAsync("_ContactUs"); }
    </div>
    <br />
    <br />
</section>
