@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<section class="b-pageHeader identity">
    <div class="container">
        <h1 class="wow zoomInLeft" data-wow-delay="0.5s">Cambiar contraseña</h1>
        <div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.5s">
            <h3>Llena la información correspondiente</h3>
        </div>
    </div>
</section>


<div class="b-breadCumbs s-shadow wow zoomInUp" data-wow-delay="0.5s">
    <div class="container">
        <a asp-controller="Home" asp-action="Index" class="b-breadCumbs__page">Home</a><span class="fa fa-angle-right"></span><a asp-area="Identity" asp-page="/Account/ResetPassword" class="b-breadCumbs__page m-active">Cambio de contraseña</a>
    </div>
</div>

<section class="b-breadCumbs wow zoomInUp" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <h2>Cambiar contraseña</h2>
            <h4>Llena los datos a continuación</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="Input.Code" type="hidden" />
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" readonly />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-default">Cambiar contraseña</button>
                    </form>
                </div>
            </div>
            @{ await Html.RenderPartialAsync("_ContactUs"); }
        </div>
    </div>
    <br />
    <br />
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
