@{
    ViewData["Title"] = "Test Drive Interactivo Ford";
    Layout = "~/Views/Shared/_LayoutFord.cshtml";
}


<section class="b-pageHeader">
    <div class="container">
        <h1 class="wow zoomInLeft" data-wow-delay="0.5s">Test Drive Interactivo Ford</h1>
    </div>
</section><!--b-pageHeader-->

<div class="b-breadCumbs s-shadow">
    <div class="container wow zoomInUp" data-wow-delay="0.5s">
        <a asp-action="Index" asp-controller="Home" class="b-breadCumbs__page">Home</a><span class="fa fa-angle-right"></span>
        <a asp-action="Index" asp-controller="Ford" class="b-breadCumbs__page">Ford</a><span class="fa fa-angle-right"></span>
        <a asp-action="Test_Drive_Interactivo" asp-controller="Pages" class="b-breadCumbs__page m-active">Test Drive Intereactivo Ford</a>
    </div>
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-danger text-center wow zoomInUp" role="alert" data-wow-delay="0.5s">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>¡Ups!..</strong> @ViewBag.Message &#128577;
        </div>
    }
</div>


<section class="b-article">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-xs-12">
                <div class="b-article__main">
                    <div class="b-blog__posts-one">
                        <div class="row m-noBlockPadding">
                            <div class="col-sm-1 col-xs-2">

                            </div>
                            <div class="col-sm-11 col-xs-10">
                                <div class="b-blog__posts-one-body">
                                    <header class="b-blog__posts-one-body-head wow zoomInUp" data-wow-delay="0.5s">
                                        <h2 class="s-titleDet">Test Drive Interactivo</h2>
                                    </header>
                                    <div class="b-blog__posts-one-body-main wow zoomInUp" data-wow-delay="0.5s">
                                        <div class="b-blog__posts-one-body-main-img">
                                            <div class="bxslider enable-bx-slider" data-pager-custom="#bx-pager" data-mode="fade" data-pager-slide="false" data-mode-pager="horizontal" data-pager-qty="0">
                                                <img class="img-responsive" src="~/images/ford/shelby.jpg" alt="jaguar" />
                                            </div>
                                        </div>
                                        <p style="font-size:22px;">En Construcción.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <aside class="b-blog__aside">
                    <div class="b-blog__aside-categories wow zoomInUp" data-wow-delay="0.5s">
                        <header class="s-lineDownLeft">
                            <h2 class="s-titleDet">Áreas Interactivas</h2>
                        </header>
                        <nav>
                            <ul class="b-blog__aside-categories-list">
                                <li><a asp-controller="Pages" asp-action="Ford_Interactivo">Ford Interactivo</a></li>
                                <li><a asp-controller="Pages" asp-action="Ford_Coloring">Ford Coloring</a></li>
                                <li><a asp-controller="Pages" asp-action="Ford_Wallpaper">Wallpapers</a></li>
                                <li><a asp-controller="Pages" asp-action="Ford_en_Peliculas">Ford en Películas</a></li>
                                @*<li class="m-active"><a asp-controller="Pages" asp-action="Test_Drive_Interactivo_Ford">Test Drive Interactivo</a></li>
                                <li><a asp-controller="Pages" asp-action="Airlife">Combatiendo COVID-19 con Airlife</a></li>
                                <li><a href="#">Donaciones y Programas de Ayuda</a></li>*@
                            </ul>
                        </nav>
                    </div>

                </aside>
            </div>
        </div>
    </div>
</section><!--b-article-->