@*@model BlogCore.Models.ViewModels.ArticuloVM*@
@model motovalle.Ecommerce.Models.motovalle_petronasContext

@{
    ViewData["Title"] = "Petronas - Expertos";
    //Layout = "~/Views/Shared/_LayoutPetronas.cshtml";
    //Layout = "";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}

@*<div id="carouselExampleIndicators" class="row-full carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-expertos-en">
                <span class="vertical-line-expertos">
                    <label class="cambiar-text-expertos">
                        CONOZCA LOS TALLERES ACREDITADOS PETRONAS AUTOEXPERT
                    </label>
                </span>
            </div>
        </div>
    </div>
</div>*@

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-expertos-en">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            CONOZCA LOS TALLERES ACREDITADOS PETRONAS AUTOEXPERT
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 tarjeta-linea-impar">
                <div class="bloque">
                    <div class="titulo-tarjeta-izquierda-impar mb-2 mt-0">
                        RED DE TALLERES PETRONAS
                    </div>
                    <div>
                        <p class="text-tarjeta-izquierda-impar ">
                            Somos firmes cuando se trata de superar las expectativas de nuestros clientes. Utilizamos nuestra experiencia en tecnología, fluidos y soluciones para brindar una gama completa de servicios que lo ayuden a Mantener su vehículo seguro y con el funcionamiento óptimo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 tarjeta-centrar-imagen col-sm-12">
                <img class="p-3 p-lg-0 img-fluid" src="/Image/imagen-expertos-en-talleres.png" alt="Alternate Text" />
            </div>

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="row">
            <div class="ocultar-imagen tarjeta-centrar-imagen">
                <img class="p-3 p-lg-0 img-fluid" src="/Image/imagen-expertos-en-productos.png" alt="Alternate Text" @*style="width: 337px; height: 191px;"*@ />
            </div>
            <div class="tarjeta-linea-par ">
                <div class="bloque">
                    <div class="titulo-tarjeta-derecha-par mb-2">
                        PRODUCTOS CON EL SELLO DE CALIDAD
                    </div>
                    <div>
                        <p class="text-tarjeta-derecha-par">
                            Nuestros productos funcionan bien en muchas aplicaciones y entornos. Desde el rendimiento del motor hasta el cuidado del automóvil, nuestros productos continúan ayudando a nuestros clientes a lograr lo mejor.
                        </p>
                    </div>

                </div>
            </div>
            <div class="cambiar-posicion-imagen">
                <div class="tarjeta-centrar-imagen">
                    <img class="p-3 p-lg-0 img-fluid" src="/Image/imagen-expertos-en-productos.png" alt="Alternate Text" @*style="width: 337px; height: 191px;"*@ />
                </div>

            </div>
        </div>
    </div>
</div>


<div class="bg-white">
    <div class="container  ">
        <div class="text-center ">
            <label class="titulo-lorem mt-5">UNA ALIANZA QUE GENERA VALOR</label>
        </div>
        <div class="text-center mt-3">
            <label class="texto-lorem-aceite">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.</label>
        </div>
        <div class="row mt-5">
            <div class="card  col-12 col-lg-4 border-0 text-center ">
                <img class="align-self-center imagen-gota-aceite" src="/Image/imagen-expertos-en-gotas.png" alt="Alternate Text" />
                <div>
                    <label class="titulo-gota-aceite  mt-4">APLICACIÓN DE MATERIALES EN EL PLV</label>
                    <label class="texto-gota-aceite">Equipos y herramientas de venta personalizados para resaltar aún más los productos y la tienda.</label>
                </div>
            </div>

            <div class="card col-12 col-lg-4 border-0 text-center">
                <img class="align-self-center imagen-gota-aceite" src="/Image/imagen-expertos-en-gotas.png" alt="Alternate Text" />
                <div>
                    <label class="titulo-gota-aceite mt-4">CAMPAÑAS DE INCENTIVOS DE VENTAS</label>
                    <label class="texto-gota-aceite">Varias campañas con premios exclusivos para animar a los equipos y traer más resultados.</label>
                </div>
            </div>

            <div class="card  col-12 col-lg-4 border-0 text-center">
                <img class="align-self-center imagen-gota-aceite" src="/Image/imagen-expertos-en-gotas.png" alt="Alternate Text" />
                <div>
                    <label class="titulo-gota-aceite mt-4">FORMACIÓN TÉCNICA Y COMERCIAL CON LEAD ACADEMY</label>
                    <label class="texto-gota-aceite">Formación y talleres impartidos de forma estructurada y entendiendo las necesidades de cada equipo.</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card mt-5 col-12 col-lg-4 border-0 text-center">
                <img class="align-self-center imagen-gota-aceite" src="/Image/imagen-expertos-en-gotas.png" alt="Alternate Text" />
                <div>
                    <label class="titulo-gota-aceite mt-4">ESTANDARIZACIÓN VISUAL</label>
                    <label class="texto-gota-aceite">Nuevos uniformes para los empleados y un nuevo diseño para el interior y la fachada de la tienda.</label>
                </div>
            </div>

            <div class="card mt-5 col-12 col-lg-4 border-0 text-center">
                <img class="align-self-center imagen-gota-aceite" src="/Image/imagen-expertos-en-gotas.png" alt="Alternate Text" />
                <div>
                    <label class="titulo-gota-aceite mt-4">SOPORTE DE MERCADOTECNIA</label>
                    <label class="texto-gota-aceite">Un servicio bien planificado y organizado para apoyar su negocio en todo momento.</label>
                </div>
            </div>

            <div class="card mt-5 col-12 col-lg-4 border-0 text-center">
                <img class="align-self-center imagen-gota-aceite" src="/Image/imagen-expertos-en-gotas.png" alt="Alternate Text" />
                <div>
                    <label class="titulo-gota-aceite mt-4">SOLUCIONES DE MARKETING DIGITAL</label>
                    <label class="texto-gota-aceite">Campañas de geolocalización en Facebook para aumentar el alcance de la tienda y aumentar las ventas.</label>
                </div>
            </div>
        </div>
    </div>

</div>








