@{
    ViewData["Title"] = "Petronas - Hidraulico";
    //Layout = "~/Views/Shared/_LayoutPetronas.cshtml";
    //Layout = "";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}

<!-- ======= Sección banner hidraulico ======= -->
@*<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-home-hidraulico img-fluid">
                <span class="vertical-line-hidraulico"></span>
                <h3 class="banner-texto-hidraulico text-black pt-3 pt-lg-0r text-center text-md-start text-lg-start">HIDRÁULICO </h3>
            </div>
        </div>
    </div>
</div>*@

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner  banner-home-hidraulico img-fluid">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start">
                        <span class=" border-start border-4 border-dark text-dark ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            HIDRÁULICO
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Sección fila impar ======= -->
<div class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 tarjeta-linea-impar">
                <div class="bloque">
                    <div class="titulo-tarjeta-izquierda-impar mb-2 mt-0">
                        TRABAJO DURO SIN DESCANSO
                    </div>
                    <div>
                        <p class="text-tarjeta-izquierda-impar ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 tarjeta-centrar-imagen col-sm-12">
                <img class="p-3 p-lg-0 img-fluid" src="/Image/imagen-agricola-tractor.png" alt="Alternate Text" style="width: 384px; height: 214px;" />
            </div>
        </div>
    </div>
</div>

<!-- ======= Sección fila par ======= -->
<div class="container">
    <div class="row">
        <div class="row">
            <div class="ocultar-imagen tarjeta-centrar-imagen">
                <img class="p-3 p-lg-0 img-fluid" src="/Image/imagen-agricola-tractor2.png" alt="Alternate Text" style="width: 384px; height: 214px;" />
            </div>
            <div class="tarjeta-linea-par ">
                <div class="bloque">
                    <div class="titulo-tarjeta-derecha-par mb-2">
                        ENEMIGOS DE LA EFICIENCIA
                    </div>
                    <div>
                        <p class="text-tarjeta-derecha-par">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.
                        </p>
                    </div>

                </div>
            </div>
            <div class="cambiar-posicion-imagen">
                <div class="tarjeta-centrar-imagen">
                    <img class="p-3 p-lg-0 img-fluid" src="/Image/imagen-agricola-tractor2.png" alt="Alternate Text" style="width: 384px; height: 214px;" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Sección fila impar ======= -->
<div class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 tarjeta-linea-impar">
                <div class="bloque">
                    <div class="titulo-tarjeta-izquierda-impar mb-2 mt-0">
                        NECESITA SEGURIDAD EN SU TRABAJO
                    </div>
                    <div>
                        <p class="text-tarjeta-izquierda-impar ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 tarjeta-centrar-imagen col-sm-12">
                <img class="p-3 p-lg-0 img-fluid" src="/Image/imagen-agricola-tractor3.png" alt="Alternate Text" style="width: 384px; height: 214px;" />
            </div>
        </div>
    </div>
</div>

<!-- ======= Sección fila de beneficios ======= -->
<div class="row-beneficios p-lg-4 p-3">
    <div class="container">
        <div class="text-center">
            <h4 class="encabezado-beneficios m-5 m-lg-0 text-white">BENEFICIOS</h4>
        </div>
        <div class="row text-center">

            <div class="col-lg-3 col-12">
                <img src="/Image/imagen-titulo1.png" alt="..." />
                <h5 class="titulo-beneficios mt-2 text-white justify-content-center">Control del lodo y el hollín</h5>
                <p class="texto-beneficios text-white justify-content-center px-3">Una lubricación más eficaz de las piezas críticas reduce la fricción, proporcionando una mayor economía de combustible.</p>
            </div>

            <div class="col-lg-3 col-12">
                <img src="/Image/imagen-titulo2.png" alt="..." />
                <h5 class="titulo-beneficios mt-2 text-white justify-content-center">Control del lodo y el hollín</h5>
                <p class="texto-beneficios text-white justify-content-center px-3">Una lubricación más eficaz de las piezas críticas reduce la fricción</p>
            </div>

            <div class="col-lg-3 col-12">
                <img src="/Image/imagen-titulo3.png" alt="..." />
                <h5 class="titulo-beneficios mt-2 text-white justify-content-center">Control del lodo y el hollín</h5>
                <p class="texto-beneficios text-white justify-content-center px-3">Una lubricación más eficaz de las piezas críticas reduce la fricción, proporcionando una mayor economía de combustible y menos emisiones.</p>
            </div>

            <div class="col-lg-3 col-12">
                <img src="/Image/imagen-titulo4.png" alt="..." />
                <h5 class="titulo-beneficios mt-2 text-white justify-content-center">Control del lodo y el hollín</h5>
                <p class="texto-beneficios text-white justify-content-center px-3">Una lubricación más eficaz de las piezas críticas reduce la fricción, proporcionando una mayor economía de combustible y menos emisiones.</p>
            </div>
        </div>
    </div>
</div>

<!-- ======= Sección catalogo de petronas ======= -->
<div class="row bg-white p-3">
    <div class="container">
        <div class="text-center">
            <h4 class="encabezado-beneficios text-black m-5">CONSULTE EL CATÁLOGO DE PETRONAS ARBOR</h4>
        </div>
        <div class="row text-center">

            <div class="col">
                <img class="p-3 p-lg-0" src="/Image/imagen-catalogo1.png" alt="..." style="width:280px; height:234px" />
                <h5 class="titulo-catalogo text-black mt-2">PETRONAS X</h5>
                <a class="texto-catalogo" style="color: #00A19C;" asp-controller="Petronas" asp-action="Portafolio">Ver Productos</a>

            </div>

            <div class="col">
                <img class="p-3 p-lg-0" src="/Image/imagen-catalogo2.png" alt="..." style="width:280px; height:234px" />
                <h5 class="titulo-catalogo mt-2 text-black">PETRONAS X</h5>
                <a class="texto-catalogo" style="color: #00A19C;" asp-controller="Petronas" asp-action="Portafolio">Ver Productos</a>
            </div>

            <div class="col">
                <img class="p-3 p-lg-0" src="/Image/imagen-catalogo3.png" alt="..." style="width:280px; height:234px" />
                <h5 class="titulo-catalogo mt-2 text-black">PETRONAS X</h5>
                <a class="texto-catalogo" style="color: #00A19C;" asp-controller="Petronas" asp-action="Portafolio">Ver Productos</a>
            </div>

        </div>
    </div>
</div>

<!-- ======= Sección fila portafolio de productos ======= -->
<div class="row-petronas ">
    <div class="container p-5">
        <div class="row">
            <div class="col text-center">
                <p class="titulo-petronas">CONSULTA NUESTRO PORTAFOLIO DE PRODUCTOS</p>
                <br />
                <a class="boton-petronas p-3 " asp-area="" asp-controller="Pretonas" asp-action="Portafolio" style="text-decoration: none; font-family:'Museo Sans 500';">Ver portafolio</a>

            </div>
        </div>
    </div>
</div>





