@{
    ViewData["Title"] = "Motovalle - Petronas";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";
}


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">




        @*<div class="container text-center text-lg-start d-sm-inline">*@
        <div class="carousel-indicators @*m-0*@ pb-3 ">
            @*<div class="container">*@
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        @*</div>*@
        @*</div>*@




    <div class="carousel-inner">

        <!--<div class="carousel-item active">
        <div class="banner banner-home-1">
            <span class="vertical-line-home1"></span>
            <h3 class="banner-texto text-center text-md-start text-lg-start cambiar-text-expertos">CON SYNTIUM PETRONAS ALCANZARAS EL NIVEL MÁS ALTO-->
        @*MANTENIENDO TU MOTOR FRESCO Y EN ÓPTIMAS CONDICIONES.*@
        <!--</h3>
            </div>
        </div>-->
        <div class="carousel-item active">
            <div class="banner banner-home-1">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start cambiar-text-expertos">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            CON SYNTIUM PETRONAS ALCANZARAS EL NIVEL MÁS ALTO
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="banner banner-home-2">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start cambiar-text-expertos">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            LUBRICANTE PARA VEHÍCULOS COMERCIALES
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="banner banner-home-3">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start cambiar-text-expertos">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            LUBRICANTES INDUSTRIALES
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="banner banner-home-4">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start cambiar-text-expertos">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            CON SYNTIUM PETRONAS ALCANZARAS EL NIVEL MÁS ALTO
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="banner banner-home-5">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start cambiar-text-expertos">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            CON SYNTIUM PETRONAS ALCANZARAS EL NIVEL MÁS ALTO
                        </span>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="carousel-item">
                <div class="banner-home-2">
                </div>
            </div>
            <div class="carousel-item">
                <div class="banner-home-3">
                </div>
            </div>
            <div class="carousel-item">
                <div class="banner-home-4">
                </div>
            </div>
            <div class="carousel-item">
                <div class="banner-home-5">
                </div>
            </div>*@
    </div>
</div>

<div class="row mt-lg-4 mt-4 fadeInDown mx-2 " style="z-index:-1;">
    <div class="col-lg-6 col-12 ">
        <div class="card border-0 altura-card">
            <a class="nav-link text-dark bg-white" asp-area="" asp-controller="Petronas" asp-action="Automotor">
                <h3 class="titulo-boton">AUTOMOTOR</h3>
                <label class="texto-boton">Descubra nuestras especificaciones de lubricantes para el motor de su vehículo automóvil, camioneta o camión.</label>
                <div class="text-center">
                    <img class="tamano-imagen" src="./Image/automotor.png" alt="Alternate Text" />
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-6 col-12 mt-lg-0 mt-4">
        <div class="card border-0 altura-card mx-0">
            <a class="nav-link text-dark bg-white" asp-area="" asp-controller="Petronas" asp-action="Industria">
                <h3 class="titulo-boton">INDUSTRIA</h3>
                <label class="texto-boton">TECNOLOGÍA DE FLUIDOS PARA TODAS SUS NECESIDADES COMERCIALES.</label>
                <div class="text-center">
                    <img class="tamano-imagen" src="./Image/industria.png" alt="Alternate Text" />
                </div>
            </a>
        </div>
    </div>
</div>


<div class="row bg-white mt-4 mt-lg-4 fadeInDown mx-3 mb-lg-2 mx-lg-0">
    <div class="row fadeInDown mx-2 mx-lg-0 px-lg-0">
        <div class="col-lg-6 offset-lg-3 col-12">
            <div class="card border-0 altura-card">
                <a class="nav-link text-dark bg-white" asp-controller="Petronas" asp-action="Deportes">
                    <h3 class="titulo-boton">DEPORTES</h3>
                    <label class="texto-boton">ESTAMOS CON LOS MEJORES EN LA PISTA, EN LA RUTA Y FUERA DE ELLA. DESCUBRE NUESTRAS ALIANZAS TECNOLÓGICAS.</label>
                    <div class="text-center">
                        <img class="tamano-imagen-deportes" src="./Image/deportes.png" alt="Alternate Text" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="row mt-lg-4 mt-4 fadeInDown mx-2 mb-lg-0">
    <div class="col-lg-6 col-12">
        <div class="card border-0 altura-card ">
            <a class="nav-link text-dark bg-white" asp-controller="Petronas" asp-action="Agricola">
                <h3 class="titulo-boton">AGRÍCOLA</h3>
                <label class="texto-boton">NUESTROS LUBRICANTES PETRONAS ARBOR OFRECEN LA SOLUCIÓN PERFECTA PARA DISFRUTAR AL MÁXIMO RENDIMIENTO DURANTE MÁS TIEMPO.@*, INDEPENDIENTEMENTE DEL TERRENO, PARA QUE PUEDA ESTAR SEGURO DE LA EFICIENCIA DE QUE SU MÁQUINA NO LE VA A FALLAR NUNCA. NUESTROS LUBRICANTES COMBATEN EL HOLLÍN, EL LODO Y EL DESGASTE DEL MOTOR, PROPORCIONANDO UNA LIMPIEZA EXCEPCIONAL DE LOS PISTONES Y UNA VISCOSIDAD OPTIMA.*@</label>
                <div class="text-center">
                    <img class="tamano-imagen-agricola" src="./Image/agricola.png" alt="Alternate Text" />
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-6 col-12 mt-lg-0 mt-4">
        <div class="card border-0 altura-card">
            <a class="nav-link text-dark bg-white" asp-controller="Petronas" asp-action="Hidraulico">
                <h3 class="titulo-boton">HIDRÁULICO</h3>
                <label class="texto-boton">LA EXPERIENCIA DE PETRONAS HA LLEVADO AL DESARROLLO DE ACEITES HIDRÁULICOS QUE FUNCIONAN EN TODO TIPO DE CONDICIONES INDUSTRIALES ADVERSAS.</label>
                <div class="text-center">
                    <img class="tamano-imagen" src="./Image/hidraulico.png" alt="Alternate Text" />
                </div>
            </a>
        </div>
    </div>
</div>


@*<div class="row fadeInDown mx-2 mx-lg-0 mt-lg-4 mt-4 mx-2 pb-lg-0">*@
@*<div class="row mt-lg-4 mt-4 fadeInDown mx-2 mx-lg-0 px-lg-0">
        <div class="col-12 px-lg-0">
            <div class="card border-0 altura-card">
                <a class="nav-link text-dark bg-white" asp-area="" asp-controller="Home" asp-action="Transmision">
                    <h3 class="titulo-boton">TRANSMISIONES</h3>
                    <H5 class="texto-boton px-5">LOS ACEITES DE TRANSMISIÓN PETRONAS GRACIAS A SU TECNOLOGÍA BRINDAN PROPIEDADES COMO PROTECCIÓN A LA PRESIÓN EXTREMA Y MICROPICADURAS.</H5>
                    <div class="text-center">
                        <img class="tamano-imagen-transmisiones" src="./Image/transmisiones.png" alt="Alternate Text" />
                    </div>
                </a>
            </div>
        </div>
    </div>*@

<div class="row bg-white mt-4 mt-lg-4 fadeInDown mx-lg-0 mx-3 mb-lg-2 ">
    <div class="row fadeInDown mx-2 mx-lg-0 px-lg-0">
        <div class="col-lg-6 offset-lg-3 col-12">
            <div class="card border-0 altura-card">
                <a class="nav-link text-dark bg-white" asp-controller="Petronas" asp-action="Transmision">
                    <h3 class="titulo-boton">TRANSMISIONES</h3>
                    <label class="texto-boton">LOS ACEITES DE TRANSMISIÓN PETRONAS GRACIAS A SU TECNOLOGÍA BRINDAN PROPIEDADES COMO PROTECCIÓN A LA PRESIÓN EXTREMA Y MICROPICADURAS.</label>
                    <div class="text-center">
                        <img src="./Image/transmisiones.png" alt="Alternate Text" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4 mt-lg-4 fadeInDown mx-2 mb-lg-2">
    <div class="col-lg-6 offset-lg-3 col-12">
        <div class="card border-0 altura-card">
            <a class="nav-link text-dark bg-white" asp-controller="Petronas" asp-action="Acerca">
                <h3 class="titulo-boton">ACERCA DE</h3>
                <label class="texto-boton">DESCUBRA PORQUE SOMOS LIDERES TECNOLÓGICOS.</label>

                <div class="text-center">
                    <img class="tamano-imagen" src="./Image/acerda-de.png" alt="Alternate Text" />
                </div>
            </a>
        </div>
    </div>
</div>

<script src="~/js/site.js"></script>
