@{
    ViewData["Title"] = "Petronas - Industria Segmento Cemento";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}

@*<div id="carouselExampleIndicators" class="row-full carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-industria-segmento-cemento">
                <span class="vertical-line"></span>
                <label class="banner-texto-industria">
                    CEMENTO
                </label>
            </div>
        </div>
    </div>
</div>*@

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-industria-segmento-cemento img-fluid">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            CEMENTO
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<body class="bg-white">
    <div class="container my-5">
        <div class="text-center">
            @*<label class="titulo-lorem mt-5">
                    ACEITE PARA MOTOSIERRA
                </label>*@
        </div>
    </div>
    <div class="container text-center text-lg-start mt-5 px-5 px-lg-0">
        <p>
            Con una presión creciente, los fabricantes de cementos se están obligando actualmente a aumentar la productividad, reducir los costos y reducir los impactos ambientales. Como proceso, utiliza una amplia gama de medios de exposición a la contaminación por alto polvo, las cargas de alto impacto y las temperaturas extremadamente altas, los lubricantes de alta calidad son esenciales para evitar el deterioro prematuro.
        </p>
        <P>
            Como socio estratégico preferido y un proveedor de soluciones lubricantes para fabricantes de cemento más grandes en el mundo, tenemos un gran conocimiento sobre temas y problemas para la compañía.
        </P>
    </div>


    <div class="mt-5">
        <div class="row-petronas">
            <div class="container p-5">
                <div class="row">
                    <div class="col text-center">
                        <p class="titulo-petronas">Ponte en contacto para mejorar tu rendimiento</p>
                        <br />
                        <a class="boton-petronas p-3" asp-controller="Petronas" asp-action="Portafolio" style="text-decoration: none; font-family:'Museo Sans 500';"> Ver Portafolio </a>

                    </div>
                </div>
            </div>
        </div>

    </div>




</body>





