@{
    ViewData["Title"] = "Petronas - Industria Segmento Papel y Celulosa";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}

@*<div id="carouselExampleIndicators" class="row-full carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-industria-segmento-papelycelulosa">
                <span class="vertical-line"></span>
                <label class="banner-texto-industria">
                    PAPEL Y CELULOSA
                </label>
            </div>
        </div>
    </div>
</div>*@

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-industria-segmento-papelycelulosa img-fluid">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            PAPEL Y CELULOSA
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<body class="bg-white">
    <div class="container my-5">
        <div class="text-center">
            @*<label class="titulo-lorem mt-5">
                    ACEITE PARA MOTOSIERRA
                </label>*@
        </div>
    </div>
    <div class="container text-center text-lg-start mt-5 px-5 px-lg-0">
        <p>
            Actualmente, la industria de la pulpa y el papel se enfrenta a muchos desafíos serios, que incluyen una mayor competencia global, una menor demanda de ciertos tipos de papel debido al desarrollo de las comunicaciones electrónicas, nuevas reglamentaciones ambientales y de salud, así como mayores costos de mantenimiento. Todos los equipos de producción deben recibir un mantenimiento eficiente para seguir siendo competitivos mediante el aumento de la productividad y la reducción de los costos operativos.
        </p>
        <p>
            Por lo tanto, el uso de lubricantes de alta calidad es crucial en un proceso de fabricación de papel de varios pasos que requiere diferentes equipos para operar a plena capacidad en condiciones extremadamente difíciles. Como socio estratégico preferido y proveedor de soluciones de lubricación para los principales fabricantes de pulpa y papel, hemos desarrollado una comprensión profunda de sus requisitos de lubricación y los desafíos que enfrenta su negocio.
        </p>

    </div>


    <div class="mt-5">
        <div class="row-petronas">
            <div class="container p-5">
                <div class="row">
                    <div class="col text-center">
                        <p class="titulo-petronas">Ponte en contacto para mejorar tu rendimiento</p>
                        <br />
                        <a class="boton-petronas p-3" asp-controller="Petronas" asp-action="Portafolio" style="text-decoration: none; font-family:'Museo Sans 500';"> Ver Portafolio </a>

                    </div>
                </div>
            </div>
        </div>

    </div>




</body>





