@{
    ViewData["Title"] = "Petronas - Industria Segmento Carbón";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}

@*<div id="carouselExampleIndicators" class="row-full carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-industria-segmento-mineriasubterranea">
                <span class="vertical-line"></span>
                <label class="banner-texto-industria">
                    MINERÍA SUBTERRÁNEA
                </label>
            </div>
        </div>
    </div>
</div>*@

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-industria-segmento-mineriasubterranea img-fluid">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            MINERÍA SUBTERRÁNEA
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<body class="bg-white">
    <div class="container my-5">
        <div class="text-center">
            @*<label class="titulo-lorem mt-5">
                    ACEITE PARA MOTOSIERRA
                </label>*@
        </div>
    </div>
    <div class="container text-center text-lg-start mt-5 px-5 px-lg-0">
        <p>
            La minería subterránea global contemporánea nunca ha enfrentado desafíos tan serios como los que enfrenta hoy. Operando en condiciones extremas, a profundidades cada vez mayores, con regulaciones más estrictas y preocupaciones ambientales, las operaciones mineras conducen a costos más altos, lo que hace que la confiabilidad, el aprendizaje y la eficiencia se vuelvan importantes para actividades más rentables.
        </p>
        <p>
            Dado que los equipos de minería suelen estar sujetos a condiciones de funcionamiento severas, como exposición a altas temperaturas, humedad, polvos abrasivos, altas presiones y cargas elevadas, es muy importante utilizar lubricantes de alta calidad para evitar pérdidas de producción y tiempos de inactividad no planificados. Como el socio estratégico y proveedor de soluciones de lubricación para operaciones mineras más grande del mundo, comprendemos sus requisitos de lubricación y los desafíos que enfrenta su negocio.
        </p>

    </div>


    <div class="mt-5">
        <div class="row-petronas">
            <div class="container p-5">
                <div class="row">
                    <div class="col text-center">
                        <p class="titulo-petronas">Ponte en contacto para mejorar tu rendimiento</p>
                        <br />
                        <a class="boton-petronas p-3" asp-controller="Petronas" asp-action="Portafolio" style="text-decoration: none; font-family:'Museo Sans 500';"> Ver Portafolio </a>

                    </div>
                </div>
            </div>
        </div>

    </div>




</body>





