@{
    ViewData["Title"] = "Petronas - Industria Segmento Acero";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}

@*<div id="carouselExampleIndicators" class="row-full carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-industria-segmento-azucar">
                <span class="vertical-line"></span>
                <label class="banner-texto-industria">
                    AZÚZAR
                </label>
            </div>
        </div>
    </div>
</div>*@

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-industria-segmento-azucar img-fluid">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            AZÚCAR
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<body class="bg-white">
    <div class="container my-5">
        <div class="text-center">
            @*<label class="titulo-lorem mt-5">
                    ACEITE PARA MOTOSIERRA
                </label>*@
        </div>
    </div>
    <div class="container text-center text-lg-start mt-5 px-5 px-lg-0">
        <p>
            En la actualidad, la industria azucarera mundial se enfrenta a muchos desafíos, incluidos los precios volátiles de las materias primas, el aumento de los costos de producción y el aumento de la competencia debido a los acuerdos comerciales facilitados. Por lo tanto, una producción eficiente y confiable es crucial para mantener la rentabilidad. Las máquinas de carretera están expuestas a lubricantes en condiciones de funcionamiento extremas, exposición a humedad, calor y presión, polvo y materia orgánica, por lo que un lubricante moderno de alta calidad es esencial para evitar tiempos de inactividad no planificados y pérdidas de producción.
        </p>
        <P>
            Como socio estratégico preferido y proveedor de soluciones de lubricación para los fabricantes de azúcar más grandes del mundo, hemos desarrollado una comprensión profunda de los requisitos y desafíos de lubricación que enfrenta el negocio.
        </P>
    </div>


    <div class="mt-5">
        <div class="row-petronas">
            <div class="container p-5">
                <div class="row">
                    <div class="col text-center">
                        <p class="titulo-petronas">Ponte en contacto para mejorar tu rendimiento</p>
                        <br />
                        <a class="boton-petronas p-3" asp-controller="Petronas" asp-action="Portafolio" style="text-decoration: none; font-family:'Museo Sans 500';"> Ver Portafolio </a>

                    </div>
                </div>
            </div>
        </div>

    </div>




</body>





