@{
    ViewData["Title"] = "Petronas - Industria Segmento";
    //Layout = "~/Views/Shared/_LayoutPetronas.cshtml";
    //Layout = "";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}

<body class="bg-white">
    @*<div id="carouselExampleIndicators" class="row-full carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="banner banner-image-industria-segmento">
                        <span class="vertical-line-industria">
                            <label class="banner-texto-industria" >
                                Lubricantes Industriales por SEGMENTO
                            </label>
                        </span>
                    </div>
                </div>
            </div>
        </div>*@

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="banner banner-image-industria-segmento img-fluid">
                    <div class="container">
                        <div class="banner-texto text-center text-md-start text-lg-start">
                            <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                                Lubricantes Industriales por SEGMENTO
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container  text-center text-lg-start mt-5 px-5 px-lg-0">
        <div class="text-center">
            <label class="titulo-lorem ">
                SI SU EQUIPO LO EXIGE, LO HEMOS DESARROLLADO.
            </label>
        </div>
        <div class="text-center mt-4">
            <div></div>
            <p class="texto-lorem-industria">
                Hemos desarrollado un amplio portafolio de productos integrales de lubricantes y grasas. Esto asegura que siempre tengamos un producto específicamente desarrollado para sus necesidades.
            </p>
            <p class="texto-lorem-industria">
                Ya sea para proteger los componentes del motor en un camión de minería en Siberia que arranca en frío a –40 °C o para mantener un horno de cemento funcionando uniformemente a +1400 °C.

            </p>

        </div>
        <div class="text-center">
            <label class="titulo-lorem mt-5">
                VER NUESTRA GAMA DE PRODUCTOS
            </label>
        </div>

    </div>

    <div class="container  mt-5">
        <div class="row px-5 px-lg-0">
            <div class=" col-lg-4 col-sm-6 col-12 mb-5">
                <a class="nav-link text-dark p-0" asp-controller="Petronas" asp-action="IndustriaSegmentoAcero">
                    <div class="card d-flex justify-content-center align-items-center imagen-industria-segmento-acero" style="height:170px;">
                        <div class="text-center text-white tarjeta-titulo-industria">ACERO</div>
                    </div>
                </a>
            </div>

            <div class=" col-lg-4 col-sm-6 col-12 mb-5">
                <a class="nav-link text-dark p-0" asp-controller="Petronas" asp-action="IndustriaSegmentoAzucar">
                    <div class="card d-flex justify-content-center align-items-center imagen-industria-segmento-azucar" style="height:170px;">
                        <div class="text-center text-white tarjeta-titulo-industria">AZÚCAR</div>
                    </div>
                </a>
            </div>

            <div class=" col-lg-4 col-sm-6 col-12 mb-5">
                <a class="nav-link text-dark p-0" asp-controller="Petronas" asp-action="IndustriaSegmentoCemento">
                    <div class="card d-flex justify-content-center align-items-center imagen-industria-segmento-cemento" style="height:170px;">
                        <div class="text-center text-white tarjeta-titulo-industria">CEMENTO</div>
                    </div>
                </a>
            </div>
            @*</div>*@





            @*<div class="row px-5 px-lg-0">*@
            <div class=" col-lg-4 col-sm-6 col-12 mb-5">
                <a class="nav-link text-dark p-0" asp-controller="Petronas" asp-action="IndustriaSegmentoFerrocarril">
                    <div class="card d-flex justify-content-center align-items-center imagen-industria-segmento-ferrocarril" style="height:170px;">
                        <div class="text-center text-white tarjeta-titulo-industria">FERROCARRIL</div>
                    </div>
                </a>
            </div>

            <div class=" col-lg-4 col-sm-6 col-12 mb-5">
                <a class="nav-link text-dark p-0" asp-controller="Petronas" asp-action="IndustriaSegmentoCarbon">
                    <div class="card d-flex justify-content-center align-items-center imagen-industria-segmento-carbon" style="height:170px;">
                        <div class="text-center text-white tarjeta-titulo-industria">GENERACIÓN DE ENERGÍA CON CARBÓN</div>
                    </div>
                </a>
            </div>

            <div class=" col-lg-4 col-sm-6 col-12 mb-5">
                <a class="nav-link text-dark p-0" asp-controller="Petronas" asp-action="IndustriaSegmentoNuclear">
                    <div class="card d-flex justify-content-center align-items-center imagen-industria-segmento-nuclear" style="height:170px;">
                        <div class="text-center text-white tarjeta-titulo-industria">GENERACIÓN DE ENERGÍA NUCLEAR</div>
                    </div>
                </a>
            </div>
            @*</div>*@


            @*<div class="row px-5 px-lg-0">*@
            <div class=" col-lg-4 col-sm-6 col-12 mb-5">
                <a class="nav-link text-dark p-0" asp-controller="Petronas" asp-action="IndustriaSegmentoCieloAbrierto">
                    <div class="card d-flex justify-content-center align-items-center imagen-industria-segmento-mineriacieloabierto" style="height:170px;">
                        <div class="text-center text-white tarjeta-titulo-industria">MINA A CIELO ABIERTO</div>
                    </div>
                </a>
            </div>

            <div class=" col-lg-4 col-sm-6 col-12 mb-5">
                <a class="nav-link text-dark p-0" asp-controller="Petronas" asp-action="IndustriaSegmentoMineriaSubterranea">
                    <div class="card d-flex justify-content-center align-items-center imagen-industria-segmento-mineriasubterranea" style="height:170px;">
                        <div class="text-center text-white tarjeta-titulo-industria">MINERÍA SUBTERRÁNEA</div>
                    </div>
                </a>
            </div>

            <div class=" col-lg-4 col-sm-6 col-12 mb-5">
                <a class="nav-link text-dark p-0" asp-controller="Petronas" asp-action="IndustriaSegmentoPapelCelulosa">
                    <div class="card d-flex justify-content-center align-items-center imagen-industria-segmento-papelcelulosa" style="height:170px;">
                        <div class="text-center text-white tarjeta-titulo-industria">PAPEL Y CELULOSA </div>
                    </div>
                </a>
            </div>
            @*</div>*@
        </div>
    </div>

    <div class="mt-5">
        <div class="row-petronas">
            <div class="container p-5">
                <div class="row">
                    <div class="col text-center">
                        <p class="titulo-petronas">Ponte en contacto para mejorar tu rendimiento</p>
                        <br />
                        <a class="boton-petronas p-3 " asp-controller="Petronas" asp-action="Contactenos" style="text-decoration: none; font-family:'Museo Sans 500';"> Contáctanos </a>

                    </div>
                </div>
            </div>
        </div>

    </div>


</body>












