@{
    ViewData["Title"] = "Petronas - Motocicletas";
    //Layout = "~/Views/Shared/_LayoutPetronas.cshtml";
    //Layout = "";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}

<!-- ======= Sección banner lubricante motocicletas ======= -->
@*<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-home-automotor-lubricantemotocicletas img-fluid">
                <span class="vertical-line"></span>
                <h3 class="banner-texto text-center text-md-start text-lg-start">LUBRIFICANTE PARA MOTOS </h3>
            </div>
        </div>
    </div>
</div>*@

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-home-automotor-lubricantemotocicletas img-fluid">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            LUBRIFICANTE PARA MOTOS
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Sección fila impar ======= -->
<div class="bg-white">
    <div class="container">
        <a class="nav-link text-dark bg-white p-0" asp-controller="Petronas" asp-action="Sprinta">
            <div class="row">
                <div class="col-lg-6 col-12 tarjeta-linea-impar">
                    <div class="bloque">
                        <div class="titulo-tarjeta-izquierda-impar mb-2 mt-0">
                            PETRONAS SPRINTA MOTOCICLETAS
                        </div>
                        <div>
                            <p class="text-tarjeta-izquierda-impar ">
                                Con tecnología FLexiTech se activa rápidamente: fluye de manera suave y constante para lubricar el motor, avanza a través del embrague, desarrollando un agarre para evitar el deslizamiento del cambio incorrecto de marcha y manteniendo la potencia, logrando ofrecer cambios suaves y más rápidos.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 tarjeta-centrar-imagen col-sm-12">
                    <img class="p-4 p-lg-0 img-fluid" src="/Image/automotor-motos-aceites.png" alt="Alternate Text" style="width: 372px; height: 231px;" />
                </div>
                <label class="text-center pb-2 texto-ver-mas">VER MÁS </label>
            </div>
        </a>
    </div>
</div>

