@{
    ViewData["Title"] = "Petronas - Rally Dakar";
    //Layout = "~/Views/Shared/_LayoutPetronas.cshtml";
    //Layout = "";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}

@*<div id="carouselExampleIndicators" class="row-full carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-motogp">
                <span class="vertical-line"></span>
                <h3 class="banner-texto text-center text-md-start text-lg-start">RALLY DAKAR</h3>
            </div>
        </div>
    </div>
</div>*@

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-rallydakar img-fluid">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            RALLY DAKAR
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mt-5 tarjeta-linea-impar">
                <div class="bloque">
                    <div class="titulo-tarjeta-izquierda-impar mb-2 mt-0">
                        PETRONAS DE ROOY IVECO
                    </div>
                    <div>
                        <p class="text-tarjeta-izquierda-impar ">
                            Como principal patrocinador del equipo PETRONAS De Rooy IVECO en el Dakar y Africa Eco-Race, nuestros productos son los únicos lubricantes y fluidos funcionales recomendados por IVECO para una amplia gama de vehículos comerciales ligeros y pesados. Nuestra tecnología innovadora nos ayuda a lograr resultados sorprendentes al aplicar lo que hemos aprendido en condiciones extremas y duras para mejorar el rendimiento de los vehículos comerciales cotidianos.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 tarjeta-centrar-imagen col-sm-12">
                <img class="p-5 p-lg-0 img-fluid" src="/Image/imagen-deportes-rallydakar.png" alt="Alternate Text" style="width:300px; height: 300px;" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <label class="mt-5 text-center titulo-rallydakar">UNA ALIANZA GANADORA</label>
            <div class="mt-3 mb-5">
                <p class="texto-rallydakar">
                    Nuestra alianza es una extensión de nuestra relación técnica y comercial de varios años con IVECO.
                </p>

                <p class="texto-rallydakar">
                    Combinando nuestra experiencia, hemos tenido éxito tanto en la Carrera Dakar como en África Eco-Race como patrocinador principal y socio técnico del equipo PETRONAS De Rooy IVECO
                </p>

                <p class="texto-rallydakar">
                    Suministramos lubricantes y aceites de rendimiento de clase mundial para vehículos eléctricos y de carreras. Aquí, presentamos nuestra tecnología como un diferenciador clave y nos esforzamos constantemente por superar los límites y satisfacer las necesidades de nuestros clientes.
                </p>

                <p class="texto-rallydakar">
                    “En condiciones de manejo extremas como el Dakar, no se puede subestimar el papel que tiene un aceite de motor confiable de alto rendimiento, y esto es lo que obtenemos con PETRONAS Urania.  Mas que una colaboración técnica; es fundamental para nuestro éxito”
                </p>

                <p class="texto-rallydakar">
                    Gerard de Rooy
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bg-white">
    <div class="container">
        <div class="row">
            <label class="mt-5 titulo-rallydakar">AVANZADO</label>
            <div class="mt-3 mb-5">
                <p class="texto-rallydakar">
                    El futuro de los Lubricantes PETRONAS parece brillante, a medida que ampliamos nuestra investigación. Iveco ha recomendado durante mucho tiempo el uso de lubricantes PETRONAS en todos sus vehículos comerciales, lo que significa que nuestra asociación continuará.
                </p>
                <p class="texto-rallydakar">
                    Seguimos comprometidos con nuestro objetivo de aumentar la inversión en infraestructura de investigación y trabajaremos para mejorar nuestras capacidades industriales. Hoy estamos listos para el mundo de mañana
                </p>
            </div>
        </div>
    </div>
</div>

<div class="imagen-asociacion ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <label class="text-white mt-5 titulo-rallydakar">AVANZADO</label>
                <div class="mt-3 mb-5">
                    <p class="text-white texto-rallydakar">
                        PETRONAS Urania con ViscGuard es una gama de aceites de motor de alto rendimiento desarrollada para prevenir eficazmente los depósitos en el motor y mantener una viscosidad óptima del aceite para prolongar la vida útil del motor. Aceite de motor de alta calidad desarrollado por Iveco para vehículos comerciales
                    </p>
                </div>

                <button class="mb-5 p-3 border-2 boton-rallydakar" onclick="window.location.href='/Petronas/Contactenos'">OBTEN MÁS INFORMACIÓN SOBRE URANIA</button>
            </div>
        </div>

    </div>
</div>


@*<div class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 tarjeta-linea-impar">
                    <div class="bloque">
                        <div class="titulo-tarjeta-izquierda-impar mb-2 mt-0">
                            NUESTRA HISTORIA
                        </div>
                        <div>
                            <p class="text-tarjeta-izquierda-impar ">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 tarjeta-centrar-imagen col-sm-12">
                    <img class="p-5 p-lg-0 img-fluid" src="/Image/motogp-historia.png" alt="Alternate Text" />
                </div>
            </div>
        </div>
    </div>*@





@*<div class="container">
        <div class="row">
            <div class="row">
                <div class="ocultar-imagen tarjeta-centrar-imagen">
                    <img class="p-3 p-lg-0  img-fluid" src="/Image/motogp-aceites-petronas-srinta.png" alt="Alternate Text" style="height: 269px;" />
                </div>
                <div class="tarjeta-linea-par ">
                    <div class="bloque">
                        <div class="titulo-tarjeta-derecha-par mb-2">
                            PETRONAS SPRINTA
                        </div>
                        <div>
                            <p class="text-tarjeta-derecha-par">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="cambiar-posicion-imagen">
                    <div class="tarjeta-centrar-imagen">
                        <img class="img-fluid " src="/Image/motogp-aceites-petronas-srinta.png" alt="Alternate Text" style=" width: 242px; height: 186px; " />
                    </div>
                </div>
            </div>
        </div>
    </div>*@





@*<div class="row-petronas">
        <div class="container p-5">
            <div class="row">
                <div class="col text-center">
                    <p class="titulo-petronas"> CONSULTA MÁS INFORMACIÓN SOBRE SYNTIUM</p>
                    <br />
                    <a class="boton-petronas p-3 asp-area=" asp-controller="Home" asp-action="Portafolio" style="text-decoration: none; font-family:'Museo Sans 500';"> Ver portafolio </a>

                </div>
            </div>
        </div>
    </div>*@