@{
    ViewData["Title"] = "Petronas - Syntium";
    //Layout = "~/Views/Shared/_LayoutPetronas.cshtml";
    //Layout = "";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}

<!-- ======= Sección banner automotor ======= -->
@*<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-home-automotor-lubricantevehiculoslivianos-simtium img-fluid">
                <span class="vertical-line"></span>
                <h3 class="banner-texto text-center text-md-start text-lg-start">PETRONAS Syntium </h3>
            </div>
        </div>
    </div>
</div>*@
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner  banner-home-automotor-lubricantevehiculoslivianos-simtium img-fluid">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            PETRONAS Syntium
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Sección fila impar ======= -->
<div class="bg-white">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-12 tarjeta-linea-impar">
                <div class="bloque">
                    <div class="titulo-tarjeta-izquierda-impar mb-2 mt-0">
                        MAXIMIZA ENERGIA
                    </div>
                    <div>
                        <p class="text-tarjeta-izquierda-impar ">
                            En el sobrecalentamiento se pierde energía. Es decir, no se obtiene el óptimo funcionamiento y la potencia disminuye considerablemente. La tecnología de nuestros aceites disipa el calor, desarrollando un óptimo rendimiento y sin desperdicios
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 tarjeta-centrar-imagen col-sm-12">
                <img class="p-3 p-lg-0 img-fluid" src="/Image/syntium-nodesperdicio-energia.png" alt="Alternate Text" style="width: 384px; height: 214px;" />
            </div>

        </div>

    </div>
</div>

<!-- ======= Sección fila par ======= -->
<div class="container">
    <div class="row">
        <div class="row">
            <div class="ocultar-imagen tarjeta-centrar-imagen">
                <img class="p-lg-5 img-fluid" src="/Image/sintium-control-calor.png" alt="Alternate Text" style="width: 452px; height: 347px;" />
            </div>
            <div class="tarjeta-linea-par ">
                <div class="bloque">
                    <div class="titulo-tarjeta-derecha-par mb-2">
                        TEMPERATURA IDEAL PARA EL MOTOR
                    </div>
                    <div>
                        <p class="text-tarjeta-derecha-par">
                            La tendencia actual son motores cada vez más pequeños, incluso con turbo, esto hace que se calienten más. El arrancar y detenerse en el tráfico dificulta el trabajo del lubricante. <span class="d-none d-lg-block">Aceite PETRONAS controla eficazmente el calor, manteniendo tu vehículo en la temperatura adecuada, garantizando el óptimo rendimiento y funcionamiento.</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="cambiar-posicion-imagen">
                <div class="tarjeta-centrar-imagen">
                    <img class="p-5 img-fluid" src="/Image/sintium-control-calor.png" alt="Alternate Text" style="width: 402px; height: 297px;" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Sección fila impar ======= -->
<div class="bg-white">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-12 tarjeta-linea-impar">
                <div class="bloque">
                    <div class="titulo-tarjeta-izquierda-impar mb-2 mt-0">
                        LOGRA EL NIVEL MÁS ALTO
                    </div>
                    <div>
                        <p class="text-tarjeta-izquierda-impar ">
                            PETRONAS Syntium ayuda a mantener el motor a la temperatura perfecta y maximiza la potencia. La nueva generación con tecnología CoolTech Plus™ representa lo último en desarrollo de aceite, controlando térmicamente para garantizar un rendimiento óptimo al tiempo que reduce las emisiones y optimiza el consumo de combustible. @*Gracias a esta tecnología denota una resistencia superior al desgaste de hasta un 32% y hasta un 62% de resistencia frente a la oxidación, haciendo que el flujo de aceite lubrique más y proteja las partes fundamentales del motor.*@
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 tarjeta-centrar-imagen col-sm-12">
                <img class="p-5 p-lg-0 img-fluid" src="/Image/syntium-alcanza-niveles-altos.png" alt="Alternate Text" style="width: 384px; height: 214px;" />
            </div>

        </div>

    </div>
</div>

<!-- ======= Sección fila par ======= -->
<div class="container">
    <div class="row">
        <div class="row">
            <div class="ocultar-imagen tarjeta-centrar-imagen">
                <img class="p-lg-5 img-fluid" src="/Image/syntium-menos-residuos.png" alt="Alternate Text" style="width: 452px; height: 347px;" />
            </div>
            <div class="tarjeta-linea-par ">
                <div class="bloque">
                    <div class="titulo-tarjeta-derecha-par mb-2">
                        MAXIMO RENDIMIENTO, MINIMO DESPERDICIO
                    </div>
                    <div>
                        <p class="mt-3 text-tarjeta-derecha-par">
                            La mayoría de los motores solo pueden convertir alrededor del 35% de la energía generada por el combustible en electricidad. Sin embargo, PETRONAS Syntium permite que los motores del complejo de Fórmula 1 Mercedes-AMG PETRONAS alcancen una eficiencia térmica superior al 50 %. Otra forma de lograr un futuro más sostenible para todos.

                            @*La mayoría de motores solo alcanzan en promedio el 35% de energía generada por el combustible en potencia. Syntium Petronas logra que los motores de la Formula 1 Mercedes AMG PETRONAS desarrolle mas del 50% de eficiencia. Otra forma de lograr un futuro mas sostenible.*@
                        </p>
                    </div>
                </div>
            </div>
            <div class="cambiar-posicion-imagen">
                <div class="tarjeta-centrar-imagen">
                    <img class="p-5 img-fluid" src="/Image/syntium-menos-residuos.png" alt="Alternate Text" style="width: 352px; height: 247px;" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-petronas mt-5">
    <div class="container p-5">
        <div class="row">
            <div class="col text-center">
                <p class="titulo-petronas">DESCUBRE LO QUE PODEMOS HACER POR TU NEGOCIO</p>
                <br />
                <a class="boton-petronas p-3" asp-controller="Petronas" asp-action="Contactenos"> Contáctanos </a>

            </div>
        </div>
    </div>
</div>


<div class="row-full bg-white pb-lg-3 pb-3 pt-5">
    <div class="container">
        <div class="text-center p-lg-3">
            <label class="titulo-lorem ">BENEFICIOS</label>
        </div>
        <div class="row">
            <div class="card mt-5 col-12 col-lg-3 border-0 text-center">
                <img class="align-self-center imagen-gota-aceite" src="/Image/imagen-expertos-en-gotas.png" alt="Alternate Text" />
                <div>
                    <label class="titulo-gota-aceite mt-4">más eficiencia</label>
                    <label class="texto-gota-aceite">Una lubricación más efectiva de los componentes críticos reduce la fricción, lo que conduce a una mejor economía de combustible y menores emisiones.</label>
                </div>
            </div>

            <div class="card mt-5 col-12 col-lg-3 border-0 text-center">
                <img class="align-self-center imagen-gota-aceite" src="/Image/imagen-expertos-en-gotas.png" alt="Alternate Text" />
                <div>
                    <label class="titulo-gota-aceite mt-4">Más sostenibilidad</label>
                    <label class="texto-gota-aceite">La reducción del calor por fricción durante el arranque/parada proporciona una mayor eficiencia.</label>
                </div>
            </div>

            <div class="card mt-5 col-12 col-lg-3 border-0 text-center">
                <img class="align-self-center imagen-gota-aceite" src="/Image/imagen-expertos-en-gotas.png" alt="Alternate Text" />
                <div>
                    <label class="titulo-gota-aceite mt-4">más rendimiento</label>
                    <label class="texto-gota-aceite">Las cadenas moleculares fuertes brindan excelentes propiedades antioxidantes para maximizar la eficiencia energética.</label>
                </div>
            </div>

            <div class="card mt-5 col-12 col-lg-3 border-0 text-center">
                <img class="align-self-center imagen-gota-aceite" src="/Image/imagen-expertos-en-gotas.png" alt="Alternate Text" />
                <div>
                    <label class="titulo-gota-aceite mt-4">más Protección</label>
                    <label class="texto-gota-aceite">Excelente capacidad para controlar el calor excesivo y dañino del motor para una optima protección.</label>
                </div>
            </div>
        </div>

        @*<div class="mt-5 col-lg-3 col-12 text-center" style="display:inline-block">
                <div>
                    <img src="/Image/imagen-expertos-en-gotas.png" alt="Alternate Text" />
                </div>
                <div>
                    <label class="titulo-gota-aceite mt-4">Más protección</label>
                </div>
                <div>
                    <label class="titulo-gota-aceite mt-4">más rendimiento</label>
                    <label class="texto-gota-aceite">Campañas de geolocalización en Facebook para aumentar el alcance de la tienda y aumentar las ventas.</label>
                </div>
            </div>*@
    </div>
</div>


<div class="row-petronas ">
    <div class="container p-5">
        <div class="row">
            <div class="col text-center">
                <p class="titulo-petronas">CONSULTA NUESTRO PORTAFOLIO DE PRODUCTOS</p>
                <br />
                <a class="boton-petronas p-3" asp-controller="Petronas" asp-action="Contactenos" >Ver portafolio</a>

            </div>
        </div>
    </div>
</div>