@{
    ViewData["Title"] = "Petronas - Transmisión";
    //Layout = "~/Views/Shared/_LayoutPetronas.cshtml";
    //Layout = "";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}


<!-- ======= Sección banner transmision ======= -->
@*<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-home-transmision img-fluid">
                <span class="vertical-line"></span>
                <h3 class="banner-texto text-center text-md-start text-lg-start">Transmisión </h3>
            </div>
        </div>
    </div>
</div>*@

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-home-transmision img-fluid">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            TRANSMISIÓN
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row-full bg-white">
    <div class="container">
        <div class="row py-5">
            <div class="col">
                <label class="titulo-transmision px-3 px-lg-0 text-center text-lg-start text-black">
                    PETRONAS TUTELA: PROTEGE TODOS LOS SISTEMAS DE RENDIMIENTO CRÍTICOS DE UN VEHÍCULO
                </label>
                <p class="texto-transmision px-3 px-lg-0 text-center text-lg-start pt-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.
                </p>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-lg-6 col-12 tarjeta-linea-transmision">
            <div class="bloque">
                <div class="titulo-tarjeta-transmision  mb-2 mt-0">
                    CONOCÉ A LOS HÉROES OCULTOS DE TU VEHÍCULO
                </div>
                <div>
                    <p class="text-tarjeta-transmision ">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 tarjeta-centrar-imagen col-sm-12">
            <img class="py-5 p-lg-0 img-fluid" src="/Image/transmisiones.png" alt="Alternate Text" style="width: 310px; height: 310px;" />
        </div>
    </div>
</div>



<div class="row-full bg-white">
    <div class="container">
        <div class="row py-5 ">
            <div class="col">
                <label class="titulo-transmision px-3 px-lg-0 text-center text-lg-start text-black">
                    LAS DEMANDAS SOBRE NUESTROS HÉROES OCULTOS AUMENTARÁN CON EL PASO DEL TIEMPO
                </label>
                <p class="texto-transmision px-3 px-lg-0 text-center text-lg-start pt-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="row-petronas ">
    <div class="container p-5">
        <div class="row">
            <div class="col text-center">
                <p class="titulo-petronas">CONSULTA NUESTRO PORTAFOLIO DE PRODUCTOS</p>
                <br />
                <a class="boton-petronas p-3" asp-controller="Petronas" asp-action="Portafolio" style="text-decoration: none; font-family:'Museo Sans 500';">Ver portafolio</a>

            </div>
        </div>
    </div>
</div>



<div class="row-full bg-white">
    <div class="container">
        <div class="row py-5 ">
            <div class="col">
                <label class="titulo-transmision px-3 px-lg-0 text-center text-lg-start text-black">
                    NUESTRA PROMESA: PROTEGER LOS HÉROES OCULTOS
                </label>
                <p class="texto-transmision px-3 px-lg-0 text-center text-lg-start pt-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.
                </p>

                <div class="row">
                    <label class="text-black text-center mt-5 titulo-transmision">GAMA DE PRODUCTOS PETRONAS TUTELA</label>
                    <div class="col text-center mt-3">
                        <img src="/Image/imagen-transmision-aceite1.png" alt="Alternate Text" style="width: 236px; height: 196px;" />
                        <p class="titulo-aceite-transmision">Transmisión</p>
                        <a class="enlace-transmision" style="color: #00A19C;" asp-controller="Petronas" asp-action="Portafolio">Ver Productos</a>
                    </div>

                    <div class="col text-center mt-3">
                        <img src="/Image/imagen-transmision-aceite2.png" alt="Alternate Text" style="width: 236px; height: 196px;" />
                        <p class="titulo-aceite-transmision">Frenos</p>
                        <a class="enlace-transmision" style="color: #00A19C;" asp-controller="Petronas" asp-action="Portafolio">Ver Productos</a>
                    </div>

                    <div class="col text-center mt-3">
                        <img src="/Image/imagen-transmision-aceite1.png" alt="Alternate Text" style="width: 236px; height: 196px;" />
                        <p class="titulo-aceite-transmision">Refrigerante                  </p>
                        <a class="enlace-transmision" style="color: #00A19C;" asp-controller="Petronas" asp-action="Portafolio">Ver Productos</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>