@model List<Ecommerce.Models.Entities.DriveTrains>

@{
    ViewData["Title"] = "DriveTrains";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="container">
        <div>
            <div class="col-12 text-center">
                <h1 class="m-0 text-dark">Trenes de Tracción</h1>
            </div>
            <div class="text-left">
                <p>
                    <a asp-action="DriveTrainsCreate" asp-controller="Admin" class="btn btn-md btn-dark">Crear nuevo registro <span class="fa fa-plus-square"></span></a>
                </p>
            </div>

            @{ await Html.RenderPartialAsync("_MessageStatus"); }
        </div>

        <div class="table">
            <table id="dtTableDefault" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">
                            Id
                        </th>
                        <th class="th-sm">
                            Nombre
                        </th>
                        <th class="th-sm">
                            Editar
                        </th>
                        <th class="th-sm">
                            Eliminar
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.DriveTrainsId)</td>
                            <td>@Html.DisplayFor(modelItem => item.DriveTrainName)</td>
                            <td><a class="btn btn-info btn-block" style="width:33%" asp-action="DriveTrainsEdit" asp-controller="Admin" asp-route-id="@item.DriveTrainsId"><span class="fa fa-pencil-alt"></span></a></td>
                            <td><a class="btn btn-danger btn-block" style="width:33%" asp-action="DriveTrainsDelete" asp-controller="Admin" asp-route-id="@item.DriveTrainsId"><span class="fa fa-times"></span></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript" src="~/admin/dist/js/admin-ecommerce-tables-settings-default.js"></script>
}
