@model Ecommerce.Models.Entities.EpaClasses
@{
    ViewData["Title"] = "EpaClassesCreate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="container">
        <div>
            <div class="col-12 text-center">
                <h1 class="m-0 text-dark">Crear Nuevo Registro</h1>
            </div>
            <div class="text-left">
                <p>
                    <a asp-action="EpaClasses" asp-controller="Admin" class="btn btn-md btn-dark"><span class="fa fa-arrow-circle-left"></span> Volver</a>
                </p>
            </div>
        </div>

        <div class="col-lg-offset-3 ">
            <form method="post" asp-action="EpaClassesCreate" asp-controller="Admin">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="EpaClassesId" />
                <div class="form-group">
                    <label asp-for="EpaClassName" class="control-label"></label>
                    <input asp-for="EpaClassName" class="form-control" />
                    <span asp-validation-for="EpaClassName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar cambios" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}