
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Main content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="~/media/brands/motovalle-logo.png" alt="Motovalle logo" width="100%"/>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="m-0">Motovalle S.A.S</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Bienvenido al panel administrativo</h4>
                        <br />
                        <p class="card-text">En la sección lateral izquierda encontrará las opciones para la administración de su contenido.</p>
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->