@model motovalle.Ecommerce.Models.ViewModels.Landing.ContactLavadoGratisViewModel

@if (TempData["Error"] != null)
{
    if ((string)TempData["Error"] == "true")
    {
        <div class="alert alert-danger text-center wow zoomInUp" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>¡Ups!..</strong> Ha sucedido un error <br />
            al enviar tu información. &#128577;. <br />
            Intenta nuevamente.
        </div>
    }
    else
    {
        <div class="alert alert-success text-center wow zoomInUp" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>¡Perfecto!..</strong> Tu información ha sido <br>
            enviada correctamente. &#128512;.
        </div>
    }

}



   <!--Card content-->
<div class="card-body" id="frm-contact-lading">

    <!-- Form -->
    <form method="post" asp-action="@TempData["Controller"]" asp-controller="Pages" name="frmInfo">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="CampaingNumber" hidden />
        <!-- Heading -->
        @*<div class="input-wrapper mt-1">
            <p> Nombre</p>
            <input type="type" name="name" value="" />
            <span asp-validation-for="Bill" class="text-danger"></span>
        </div>*@

        <h4 class="text-center"><strong>Regístrate para participar</strong></h4>

        <div class="form-row">
            <div class="col-6">
                <label>Nombre completo</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-6">
                <label>Apellido(s)</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="col-6">
                <label>Número de cédula</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-6">
                <label>Número de celular</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="col-6">
                <label>Correo electrónico</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-6">
                <label>Marca del vehículo</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="col-6">
                <label>Modelo del vehículo</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-6">
                <label>Modelo / año</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="col-6">
                <label>Placa</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-6">
                <label>Número de factura</label>
                <input type="text" class="form-control">
            </div>

        </div>
        <div class="form-row">
            <div class="col-6">
                <label>Fecha de factura</label>
                <input type="date" class="form-control">
            </div>
            <div class="col-6">
                <label>Ciudad de residencia</label>
                <select class="form-control">
                    <option value="Cali">Cali</option>
                    <option value="Bogota">Bogota</option>
                </select>
            </div>
        </div>


        <div class="form-check mt-2">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Acepto las<a href="~/files/POLITICA DATOS PERSONALES MOTOVALLE[2336].pdf" rel="noreferrer" target="_blank"> políticas de privacidad</a>
            </label>
        </div>




        <div class="text-center">
            @*<input type="submit" class="btn btn-light" value="¡Consulta ya!" />*@
            <button class="btn btn-outline-primary">Envíar</button>
        </div>

    </form>
    <!-- Form -->
</div>

