@{
    ViewData["Title"] = "Petronas - Acerca Detalle";
    //Layout = "~/Views/Shared/_LayoutPetronas.cshtml";
    //Layout = "";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}

<!-- ======= Sección banner Acerca Detalle ======= -->

<div id="carouselExampleIndicators" class="row-full carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-acerca-detalle img-fluid">
                <span class="vertical-line"></span>
                <div class="cambiar-text">
                    <h3>
                        NOMBRE DE LA VIDA DE DETALLE
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Sección de texto ======= -->
<body class="bg-white">
    <div class="container">
        <div>
            <label class="titulo-lorem mt-5 text-center text-lg-start px-5">Lorem ipsum dolor sit amet consectetur</label>
        </div>
        <div>
            <p class="rectangulo-parrafo mt-5 text-left px-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum lorem. Morbi convallis convallis diam sit amet lacinia. Aliquam in elementum tellus.
                <br />
                <br />
                Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut vulputate nisi. Integer in felis sed leo vestibulum venenatis. Suspendisse quis arcu sem. Aenean feugiat ex eu vestibulum vestibulum. Morbi a eleifend magna. Nam metus lacus, porttitor eu mauris a, blandit ultrices nibh. Mauris sit amet magna non ligula vestibulum eleifend. Nulla varius volutpat turpis sed lacinia. Nam eget mi in purus lobortis eleifend. Sed nec ante dictum sem condimentum ullamcorper quis venenatis nisi. Proin vitae facilisis nisi, ac posuere leo.
                <br />
                <br />
                Nam pulvinar blandit velit, id condimentum diam faucibus at. Aliquam lacus nisi, sollicitudin at nisi nec, fermentum congue felis. Quisque mauris dolor, fringilla sed tincidunt ac, finibus non odio. Sed vitae mauris nec ante pretium finibus. Donec nisl neque, pharetra ac elit eu, faucibus aliquam ligula. Nullam dictum, tellus tincidunt tempor laoreet, nibh elit sollicitudin felis, eget feugiat sapien diam nec nisl. Aenean gravida turpis nisi, consequat dictum risus dapibus a. Duis felis ante, varius in neque eu, tempor suscipit sem. Maecenas ullamcorper gravida sem sit amet cursus. Etiam pulvinar purus vitae justo pharetra consequat. Mauris id mi ut arcu feugiat maximus. Mauris consequat tellus id tempus aliquet.

            </p>
        </div>

        <div class="row-full" style=" background: #F6F6F6; ">
            <div class="container">
                <div>
                    <div>
                        <div class="titulo-lorem  text-center text-lg-start">
                            <label class="mt-5 px-5">Lorem ipsum dolor sit amet consectetur</label>
                        </div>
                        <div class="rectangulo-parrafo ">
                            <p class="mt-5 text-left px-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum lorem. Morbi convallis convallis diam sit amet lacinia. Aliquam in elementum tellus.
                                <br />
                                <br />
                                Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut vulputate nisi. Integer in felis sed leo vestibulum venenatis. Suspendisse quis arcu sem. Aenean feugiat ex eu vestibulum vestibulum. Morbi a eleifend magna. Nam metus lacus, porttitor eu mauris a, blandit ultrices nibh. Mauris sit amet magna non ligula vestibulum eleifend. Nulla varius volutpat turpis sed lacinia. Nam eget mi in purus lobortis eleifend. Sed nec ante dictum sem condimentum ullamcorper quis venenatis nisi. Proin vitae facilisis nisi, ac posuere leo.
                                <br />
                                <br />
                                Nam pulvinar blandit velit, id condimentum diam faucibus at. Aliquam lacus nisi, sollicitudin at nisi nec, fermentum congue felis. Quisque mauris dolor, fringilla sed tincidunt ac, finibus non odio. Sed vitae mauris nec ante pretium finibus. Donec nisl neque, pharetra ac elit eu, faucibus aliquam ligula. Nullam dictum, tellus tincidunt tempor laoreet, nibh elit sollicitudin felis, eget feugiat sapien diam nec nisl. Aenean gravida turpis nisi, consequat dictum risus dapibus a. Duis felis ante, varius in neque eu, tempor suscipit sem. Maecenas ullamcorper gravida sem sit amet cursus. Etiam pulvinar purus vitae justo pharetra consequat. Mauris id mi ut arcu feugiat maximus. Mauris consequat tellus id tempus aliquet.

                            </p>
                        </div>
                        <div class="row justify-content-center">
                            <img src="/Image/acerca-detalle-consectetur.png" class="mt-3 imagen-acercadetalle mb-5 img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ======= Sección de liderazgo operacional ======= -->

        <div class="mt-5">
            <div class="text-center ">
                <label class="titulo-lorem px-3">Equipo de liderazgo operacional</label>
            </div>

            <div class="row text-center mt-lg-5">

                <div class="col-12 col-lg-4 ">
                    <div class="card p-5 p-lg-0 border-0">
                        <img class="img-fluid" src="../Image/acerca-detalle-liderazgo-operacional.png" />
                        <div class="card-body rectangulo-imagen">
                            <h5 class="titulo-imagen"> Giuseppe D’Arrigo</h5>
                            <label class="rectangulo-parrafo text-left">Director gerente y director ejecutivo del Grupo</label>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="card p-5 p-lg-0 border-0">
                        <img class="img-fluid" src="../Image/acerca-detalle-liderazgo-operacional.png" />
                        <div class="card-body rectangulo-imagen">
                            <h5 class="titulo-imagen"> Giuseppe D’Arrigo</h5>
                            <label class="rectangulo-parrafo text-left">Director gerente y director ejecutivo del Grupo</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card  p-5 p-lg-0 border-0">
                        <img class="img-fluid" src="../Image/acerca-detalle-liderazgo-operacional.png" />
                        <div class="card-body rectangulo-imagen">
                            <h5 class="titulo-imagen"> Giuseppe D’Arrigo</h5>
                            <label class="rectangulo-parrafo text-left">Director gerente y director ejecutivo del Grupo</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>