@{
    ViewData["Title"] = "Petronas - Automor";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}

<!-- ======= Sección banner automotor ======= -->
@*<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-home-automotor img-fluid">
                <span class="vertical-line"></span>
                <h3 class="banner-texto text-center text-md-start text-lg-start">AUTOMOTOR </h3>
            </div>
        </div>
    </div>
</div>*@

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-home-automotor img-fluid">
                <div class="container">
                    <div class="banner-texto text-center text-ms-center text-md-start text-lg-start d-inline">
                        <span class=" border-start border-4 border-white  ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0 animate__fadeInLeft" style="width:100%;">
                            AUTOMOTOR
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Sección fila impar ======= -->
<div class="bg-white">
    <div class="container">
        <a class="nav-link text-dark bg-white p-0" asp-area="" asp-controller="Petronas" asp-action="LubricanteVehiculosLivianos">
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-6  tarjeta-linea-impar">
                    <div class="bloque">
                        <div class="titulo-tarjeta-izquierda-impar mb-2 mt-0">
                            LUBRICANTES PARA AUTOMÓVILES Y CAMIONETAS
                        </div>
                        <div>
                            <p class="text-tarjeta-izquierda-impar mt-lg-3 mt-0 ">
                                Los aceites PETRONAS para vehículos están desarrollados con la ultima tecnología, brindando la máxima protección al motor. Desarrollando el rendimiento máximo con una conducción suave. Tu vehículo merece lo mejor, tu vehículo merece Petronas.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-6 tarjeta-centrar-imagen col-sm-12">
                    <img class="p-3 p-lg-0 img-fluid" src="/Image/imagen-automotor-automovil.png" alt="Alternate Text" style="width: 337px; height: 191px;" />
                </div>
                <label class="text-center pb-2 texto-ver-mas">VER MÁS </label>
            </div>
        </a>
    </div>
</div>

<!-- ======= Sección fila par ======= -->
<div class="container">
    <div class="row">
        <a class="nav-link text-dark  p-0" asp-area="" asp-controller="Petronas" asp-action="LubricanteMotocicletas">
            <div class="row">
                <div class="ocultar-imagen tarjeta-centrar-imagen">
                    <img class="p-3 p-lg-0 img-fluid" src="/Image/imagen-automotor-motocicleta.png" alt="Alternate Text" style="width: 337px; height: 191px;" />
                </div>
                <div class="tarjeta-linea-par ">
                    <div class="bloque">
                        <div class="titulo-tarjeta-derecha-par mb-2">
                            LUBRICANTES PARA MOTOS
                        </div>
                        <div>
                            <p class="text-tarjeta-derecha-par">
                                Conocemos las tensiones a las que se someten los motores de las motocicletas todos los días. Es por esto que hemos creado un aceite que no lo defraudará y le dará una conducción más larga y suave. Nuestros lubricantes protegen tu motor para que puedas concentrarte en la carretera.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="cambiar-posicion-imagen">
                    <div class="tarjeta-centrar-imagen">
                        <img class="p-3 p-lg-0 img-fluid" src="/Image/imagen-automotor-motocicleta.png" alt="Alternate Text" style="width: 337px; height: 191px;" />
                    </div>
                    <label class="text-center pb-2 texto-ver-mas">VER MÁS </label>
                </div>
            </div>
        </a>
    </div>
</div>

<!-- ======= Sección fila impar ======= -->
<div class="bg-white">
    <div class="container">
        <a class="nav-link text-dark  p-0" asp-controller="Petronas" asp-action="LubricanteVehiculosComerciales">
            <div class="row">
                <div class="col-lg-6 col-12 tarjeta-linea-impar">
                    <div class="bloque align-content-end m-0 p-0">
                        <div class="titulo-tarjeta-izquierda-impar p-0 mb-2">
                            LUBRICANTE PARA VEHÍCULOS COMERCIALES
                        </div>
                        <div>
                            <p class="text-tarjeta-izquierda-impar p-0 mt-lg-3">
                                La vida se trata de evitar los obstáculos ocultos en el camino. Entendemos la importancia de poder confiar en nuestros vehículos para que los negocios y la vida siempre avancen en la dirección correcta. Nuestra gana de aceites de motos de alta calidad esta diseñada para mantener tus negocios en el camino.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-12 tarjeta-centrar-imagen col-sm-12 p-0">
                    <img class="p-3 p-lg-0 img-fluid" src="/Image/imagen-automotor-camion.png" alt="Alternate Text" style="width: 337px; height: 191px;" />
                </div>
                <label class="text-center pb-2 texto-ver-mas">VER MÁS </label>
            </div>
        </a>
    </div>
</div>