@{
    ViewData["Title"] = "Petronas - Industria Detalle";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}

@*<div id="carouselExampleIndicators" class="row-full carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-industria-aplicacion-motoragas">
                <span class="vertical-line"></span>
                <label class="banner-texto-industria">
                    ACEITE DE MOTOR A GAS
                </label>
            </div>
        </div>
    </div>
</div>*@

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-industria-aplicacion-motoragas img-fluid">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start animate__fadeInLeft">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            ACEITE DE MOTOR A GAS
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<body class="bg-white">
    <div class="container my-5">
        <div class="text-center">
            @*<label class="titulo-lorem mt-5">
                    ACEITE PARA MOTOSIERRA
                </label>*@
        </div>
    </div>
    <div class="container text-center text-lg-start mt-5 px-5 px-lg-0">
        <p>
            A medida que crece la demanda global de energía, también crece la necesidad de soluciones eficientes que proporcionen energía confiable. Tecnologías como los motores a gas y las emisiones de gas natural están beneficiando a clientes de todo el mundo. Pero estas soluciones tienen requisitos muy diferentes para el aceite que contienen.
        </p>
        <P>
            Por eso hemos desarrollado dos productos especializados. Los aceites PETRONAS Geo BLG no solo tienen excelentes propiedades anti desgaste, sino que también se han desarrollado para brindar protección adicional contra gases residuales como halógenos, siloxanos y azufre, que contienen contaminantes y pueden dañar el motor. Al mismo tiempo, los aceites PETRONAS Geo NG controlan a la perfección los depósitos en los pistones, los depósitos y las cenizas, lo que los hace ideales para los aceites de motor a gas natural.
        </P>
    </div>


    <div class="mt-5">
        <div class="row-petronas">
            <div class="container p-5">
                <div class="row">
                    <div class="col text-center">
                        <p class="titulo-petronas">Ponte en contacto para mejorar tu rendimiento</p>
                        <br />
                        <a class="boton-petronas p-3" asp-controller="Petronas" asp-action="Portafolio"> Ver Portafolio </a>

                    </div>
                </div>
            </div>
        </div>

    </div>




</body>





