@{
    ViewData["Title"] = "Petronas - Industria Segmento Carbón";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}

@*<div id="carouselExampleIndicators" class="row-full carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-industria-segmento-carbon">
                <span class="vertical-line"></span>
                <label class="banner-texto-industria">
                    GENERACIÓN DE ENERGÍA CON CARBÓN
                </label>
            </div>
        </div>
    </div>
</div>*@

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-industria-segmento-carbon img-fluid">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start animate__fadeInLeft">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            GENERACIÓN DE ENERGÍA CON CARBÓN
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<body class="bg-white">
    <div class="container my-5">
        <div class="text-center">
            @*<label class="titulo-lorem mt-5">
                    ACEITE PARA MOTOSIERRA
                </label>*@
        </div>
    </div>
    <div class="container text-center text-lg-start mt-5 px-5 px-lg-0">
        <p>
            La creciente demanda de energía se ha convertido en un serio desafío para la industria en todo el mundo. Como resultado, las centrales eléctricas se ven obligadas a operar dentro de los límites de su eficiencia y confiabilidad operativas. La combinación de factores se suma al desafío de mantener un sistema de generación de energía. Podemos proporcionar largos intervalos de mantenimiento, condiciones de funcionamiento extremas, como exposición a altas temperaturas y presiones, contaminación del agua y complejidad del equipo. Cuando el impacto del tiempo de inactividad no planificado puede causar frustración y altos costos diarios para las personas y la industria, los lubricantes confiables y de alta calidad son una solución vital. Como socio estratégico preferido y proveedor de soluciones de lubricación para los generadores más grandes del mundo, comprendemos sus requisitos de lubricación y los desafíos que enfrenta su negocio.
        </p>

    </div>


    <div class="mt-5">
        <div class="row-petronas">
            <div class="container p-5">
                <div class="row">
                    <div class="col text-center">
                        <p class="titulo-petronas">Ponte en contacto para mejorar tu rendimiento</p>
                        <br />
                        <a class="boton-petronas p-3" asp-controller="Petronas" asp-action="Portafolio"> Ver Portafolio </a>

                    </div>
                </div>
            </div>
        </div>

    </div>




</body>





