@{
    ViewData["Title"] = "Petronas - Industria Detalle";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}

@*<div id="carouselExampleIndicators" class="row-full carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-industria-aplicacion-transferencia">
                <span class="vertical-line"></span>
                <label class="banner-texto-industria">
                    ACEITE PARA TRANSFERENCIA DE CALOR
                </label>
            </div>
        </div>
    </div>
</div>*@

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-industria-aplicacion-transferencia img-fluid">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start animate__fadeInLeft">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            ACEITE PARA TRANSFERENCIA DE CALOR
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<body class="bg-white">
    <div class="container my-5">
        <div class="text-center">
            @*<label class="titulo-lorem mt-5">
                    ACEITE PARA MOTOSIERRA
                </label>*@
        </div>
    </div>
    <div class="container text-center text-lg-start mt-5 px-5 px-lg-0">
        <p>
            <strong>PETRONAS</strong> HTO consiste en fluidos para transferencia de calor de alto rendimiento, especialmente desarrollados para sistemas de transferencia de calor abiertos y cerrados que operan a temperaturas del aceite a granel elevadas.

        </p>
    </div>


    <div class="mt-5">
        <div class="row-petronas">
            <div class="container p-5">
                <div class="row">
                    <div class="col text-center">
                        <p class="titulo-petronas">Ponte en contacto para mejorar tu rendimiento</p>
                        <br />
                        <a class="boton-petronas p-3" asp-controller="Petronas" asp-action="Portafolio"> Ver Portafolio </a>

                    </div>
                </div>
            </div>
        </div>

    </div>




</body>





