@{
    ViewData["Title"] = "Petronas - Industria Aplicación Engranajes ";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}

@*<div id="carouselExampleIndicators" class="row-full carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-industria-aplicacion-engranajes">
                <span class="vertical-line"></span>
                <label class="banner-texto-industria" >
                    ACEITE DE ENGRANAJES
                </label>
            </div>
        </div>
    </div>
</div>*@

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-industria-aplicacion-engranajes img-fluid">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start animate__fadeInLeft">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            ACEITE DE ENGRANAJES
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<body class="bg-white">
    <div class="container my-5">
        <div class="text-center">
            @*<label class="titulo-lorem mt-5">
                    ACEITE PARA MOTOSIERRA
                </label>*@
        </div>
    </div>
    <div class="container text-center text-lg-start mt-5 px-5 px-lg-0">
        <p>
            Los OEM ofrecen transmisiones de engranajes de mayor rendimiento en un factor de forma más compacto. No solo funcionan a velocidades más altas bajo cargas más pesadas, sino que también están hechos de nuevos materiales. El desafío para los propietarios de equipos es encontrar soluciones más confiables y duraderas, y aquí es donde entra en juego la experiencia de PETRONAS.
        </p>
        <p>
            Cuestiones como la menor capacidad de los tanques y los requisitos de mayor potencia de salida han llevado a nuestros expertos a desarrollar lubricantes de alta calidad que no afectan negativamente el rendimiento del sistema. Nuestros fluidos funcionan de manera eficiente en todas partes, desde cojinetes helicoidales hasta turbinas eólicas, desde cajas de engranajes herméticos estándar hasta cajas de engranajes abiertas grandes y resistentes, como las que se usan en minería y centrales eléctricas, maquinaria de procesamiento de acero, azúcar y energía.
        </p>
        <p>
            Los aceites para engranajes PETRONAS ofrecen propiedades como presión extrema y protección contra micro picaduras en un amplio rango de temperaturas, teniendo en cuenta requisitos como oportunidades de ahorro de energía. Siempre formulados teniendo en cuenta el rendimiento a largo plazo, algunos aceites para engranajes PETRONAS están diseñados para aplicaciones de llenado de por vida.
        </p>
    </div>


    <div class="mt-5">
        <div class="row-petronas">
            <div class="container p-5">
                <div class="row">
                    <div class="col text-center">
                        <p class="titulo-petronas">Ponte en contacto para mejorar tu rendimiento</p>
                        <br />
                        <a class="boton-petronas p-3" asp-controller="Petronas" asp-action="Portafolio"> Ver Portafolio </a>

                    </div>
                </div>
            </div>
        </div>

    </div>




</body>





