@{
    ViewData["Title"] = "Petronas - Industria Segmento Acero";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}

@*<div id="carouselExampleIndicators" class="row-full carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-industria-segmento-acero">
                <span class="vertical-line"></span>
                <label class="banner-texto-industria>
                    ACERO
                </label>
            </div>
        </div>
    </div>
</div>*@

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-industria-segmento-acero img-fluid">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start animate__fadeInLeft">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            ACERO
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<body class="bg-white">
    <div class="container my-5">
        <div class="text-center">
            @*<label class="titulo-lorem mt-5">
                    ACEITE PARA MOTOSIERRA
                </label>*@
        </div>
    </div>
    <div class="container text-center text-lg-start mt-5 px-5 px-lg-0">
        <p>
            Enfrentada a una presión cada vez mayor para aumentar la productividad, reducir los costos y reducir el impacto ambiental, la industria siderúrgica moderna enfrenta desafíos difíciles, lo que explica por qué la reutilización de la calidad del lubricante es tan importante. En procesos continuos donde la maquinaria está sujeta a altas temperaturas y presiones, los lubricantes premium pueden beneficiar a su negocio al evitar tiempos de inactividad inesperados y costosos, al mismo tiempo que prolongan los intervalos de mantenimiento y la vida útil del equipo.
        </p>
        <P>
            Como socio estratégico y proveedor preferido de soluciones de lubricación para los fabricantes de acero más grandes del mundo, comprendemos sus requisitos de lubricación y los desafíos que enfrenta su negocio.
        </P>
    </div>


    <div class="mt-5">
        <div class="row-petronas">
            <div class="container p-5">
                <div class="row">
                    <div class="col text-center">
                        <p class="titulo-petronas">Ponte en contacto para mejorar tu rendimiento</p>
                        <br />
                        <a class="boton-petronas p-3" asp-controller="Petronas" asp-action="Portafolio"> Ver Portafolio </a>

                    </div>
                </div>
            </div>
        </div>

    </div>




</body>





