@{
    ViewData["Title"] = "Petronas - Industria Segmento Carbón";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}

@*<div id="carouselExampleIndicators" class="row-full carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-industria-segmento-mineriaacieloabierto">
                <span class="vertical-line"></span>
                <label class="banner-texto-industria">
                    MINA A CIELO ABIERTO
                </label>
            </div>
        </div>
    </div>
</div>*@

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-image-industria-segmento-mineriaacieloabierto img-fluid">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start animate__fadeInLeft">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            MINA A CIELO ABIERTO
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<body class="bg-white">
    <div class="container my-5">
        <div class="text-center">
            @*<label class="titulo-lorem mt-5">
                    ACEITE PARA MOTOSIERRA
                </label>*@
        </div>
    </div>
    <div class="container text-center text-lg-start mt-5 px-5 px-lg-0">
        <p>
            La industria minera de superficie global moderna nunca ha enfrentado desafíos más serios que los que enfrenta hoy. Trabajar en lugares difíciles y remotos, sin mencionar las regulaciones cada vez más estrictas y las preocupaciones ambientales, aumenta los costos y hace que la confiabilidad y la disponibilidad sean críticas para las actividades rentables. Teniendo en cuenta que los equipos de minería están sujetos a condiciones de funcionamiento severas, como exposición a alta temperatura, humedad fluctuante, polvo abrasivo, alta presión y cargas elevadas, se debe utilizar un lubricante de alta calidad para evitar pérdidas de producción y tiempos de inactividad no planificados.
        </p>
        <p>
            Como el socio estratégico y proveedor de soluciones de lubricación para operaciones mineras más grande del mundo, comprendemos sus requisitos de lubricación y los desafíos que enfrenta su negocio.
        </p>

    </div>


    <div class="mt-5">
        <div class="row-petronas">
            <div class="container p-5">
                <div class="row">
                    <div class="col text-center">
                        <p class="titulo-petronas">Ponte en contacto para mejorar tu rendimiento</p>
                        <br />
                        <a class="boton-petronas p-3" asp-controller="Petronas" asp-action="Portafolio"> Ver Portafolio </a>

                    </div>
                </div>
            </div>
        </div>

    </div>




</body>





