@{
    ViewData["Title"] = "Petronas - Sprinta";
    //Layout = "~/Views/Shared/_LayoutPetronas.cshtml";
    //Layout = "";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}

<!-- ======= Sección banner automotor ======= -->
@*<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-home-automotor-lubricantevehiculoslivianos-sprinta img-fluid">
                <span class="vertical-line"></span>
                <h3 class="banner-texto text-center text-md-start text-lg-start">PETRONAS Sprinta </h3>
            </div>
        </div>
    </div>
</div>*@

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-home-automotor-lubricantevehiculoslivianos-sprinta img-fluid">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start animate__fadeInLeft">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            PETRONAS Sprinta
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Sección fila impar ======= -->
<div class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 tarjeta-linea-impar">
                <div class="bloque">
                    <div class="titulo-tarjeta-izquierda-impar mb-2 mt-0">
                        EL MUNDO SE MUEVE MÁS RÁPIDO
                    </div>
                    <div>
                        <p class="text-tarjeta-izquierda-impar ">
                            Nuestras ciudades están creciendo. Las carreteras y las calles están cada vez más transitadas. En un mundo que cambia rápidamente, lleno de giros inesperados, obstáculos y oportunidades, las personas de todo el mundo están progresando. <span class="d-none d-lg-inline">Los motociclistas deben estar preparados para enfrentar estos desafíos rápidamente, al igual que sus motocicletas.</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 tarjeta-centrar-imagen col-sm-12">
                <img class="p-3 p-lg-0 img-fluid" src="/Image/sprinta-mundo-desafio.png" alt="Alternate Text" style="width: 384px; height: 214px;" />
            </div>
        </div>
    </div>
</div>

<!-- ======= Sección fila par ======= -->
<div class="container">
    <div class="row">
        <div class="row">
            <div class="ocultar-imagen tarjeta-centrar-imagen">
                <img class="p-3 p-lg-0 img-fluid" src="/Image/sprinta-aceites.png" alt="Alternate Text" style="width: 384px; height: 214px;" />
            </div>
            <div class="tarjeta-linea-par ">
                <div class="bloque">
                    <div class="titulo-tarjeta-derecha-par mb-2">
                        @*PARA GANAR, LOS CICLISTAS NECESITAN LA MÁXIMA CONEXIÓN CON SUS BICICLETAS*@
                        MÁXIMA CONEXIÓN CON SU MOTOCICLETA

                    </div>
                    <div>
                        <p class="text-tarjeta-derecha-par">
                            Por lo tanto, los motores de las motocicletas deben responder rápidamente a los requisitos que se les imponen. Los aceites de motor deben estar listos para reaccionar rápidamente a los requisitos del motor, el embrague y la transmisión, desempeñarse bien de manera constante en tareas múltiples. @*, soportar altas temperaturas y un desgaste intenso, y proporcionar la capacidad maravillosa.*@
                        </p>
                    </div>

                </div>
            </div>
            <div class="cambiar-posicion-imagen">
                <div class="tarjeta-centrar-imagen">
                    <img class="p-4 img-fluid" src="/Image/sprinta-aceites.png" alt="Alternate Text" style="width: 352px; height: 247px;" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Sección fila impar ======= -->
<div class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 tarjeta-linea-impar">
                <div class="bloque">
                    <div class="titulo-tarjeta-izquierda-impar mb-2 mt-0">
                        TECNOLOGÍA FLEXITECH™
                    </div>
                    <div>
                        <p class="text-tarjeta-izquierda-impar ">
                            Hemos dedicado incontables horas a desarrollar la línea PETRONAS SPRINTA para garantizar una respuesta más rápida, para que usted también pueda actuar y reaccionar en todo momento. Este lubricante está formulado y diseñado de manera única para una acción y una protección rápida, ahora y para siempre.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 tarjeta-centrar-imagen col-sm-12">
                <img class="p-3 p-lg-0 img-fluid" src="/Image/sprinta-tecnologia-flexitech.png" alt="Alternate Text" style="width: 384px; height: 214px;" />
            </div>
        </div>
    </div>
</div>

<!-- ======= Sección fila par ======= -->
<div class="container">
    <div class="row">
        <div class="row">
            <div class="ocultar-imagen tarjeta-centrar-imagen">
                <img class="p-3 p-lg-0 img-fluid" src="/Image/sprinta-pistas.png" alt="Alternate Text" style="width: 384px; height: 214px;" />
            </div>
            <div class="tarjeta-linea-par ">
                <div class="bloque">
                    <div class="titulo-tarjeta-derecha-par mb-2">
                        DE LAS PISTAS A LAS CALLES
                    </div>
                    <div>
                        <p class="text-tarjeta-derecha-par">
                            La vida es demasiado rápida en el competitivo y desafiante mundo de MotoGP. Sin embargo, PETRONAS Sprinta está diseñada para soportar un uso severo y altas temperaturas desde el primer momento. <span class="d-none d-lg-inline"> El rendimiento increíblemente receptivo de la motocicleta ayuda a los ciclistas a alcanzar sus objetivos y moverse más rápido.</span>
                        </p>
                    </div>

                </div>
            </div>
            <div class="cambiar-posicion-imagen">
                <div class="tarjeta-centrar-imagen">
                    <img class=" p-lg-0 img-fluid" src="/Image/sprinta-pistas.png" alt="Alternate Text" style="width: 352px; height: 200px;" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-petronas mt-5">
    <div class="container p-5">
        <div class="row">
            <div class="col text-center">
                <p class="titulo-petronas">Ponte en contacto para mejorar tu rendimiento</p>
                <br />
                <a class="boton-petronas p-3 " asp-controller="Petronas" asp-action="Contactenos"> Contáctanos </a>

            </div>
        </div>
    </div>
</div>

<div class="row bg-white p-5 mx-0">
    <div class="container">
        <div class="text-center">
            <label class="titulo-lorem ">LOS BENEFICIOS</label>
        </div>
        <div class="row">
            <div class="card mt-5 col-12 col-lg-4 border-0 text-center">
                <img class="align-self-center imagen-gota-aceite" src="/Image/sprinta-gotas-aceite.png" alt="Alternate Text" />
                <div>
                    <label class="titulo-gota-aceite mt-4">RENDIMIENTO RÁPIDO </label>
                    <label class="texto-gota-aceite">PETRONAS Sprinta con tecnología FlexiTech™ se enciende rápidamente: fluye suave y uniforme para lubricar el motor, hacer la transición a través del embrague, aumentar la tracción para evitar el deslizamiento debido a cambios de marcha incorrectos y conservar la potencia para cambiar de marcha más rápido y con mayor sensibilidad.</label>
                </div>
            </div>

            <div class="card mt-5 col-12 col-lg-4 border-0 text-center">
                <img class="align-self-center imagen-gota-aceite" src="/Image/sprinta-gotas-aceite.png" alt="Alternate Text" />
                <div>
                    <label class="titulo-gota-aceite mt-4">DEFENSA RAPIDA</label>
                    <label class="texto-gota-aceite">PETRONAS Sprinta con tecnología FlexiTech™ proporciona rápidamente una excelente viscosidad y control de depósitos para soportar altas temperaturas, proteger los componentes críticos del desgaste, reducir los costos de mantenimiento y mantener el vehículo en buen estado.</label>
                </div>
            </div>

            <div class="card mt-5 col-12 col-lg-4 border-0 text-center">
                <img class="align-self-center imagen-gota-aceite" src="/Image/sprinta-gotas-aceite.png" alt="Alternate Text" />
                <div>
                    <label class="titulo-gota-aceite mt-4">LA RÁPIDA PROTECCION</label>
                    <label class="texto-gota-aceite">PETRONAS Sprinta con tecnología FlexiTech™ cumple con los últimos estándares ambientales globales. En PETRONAS, estamos comprometidos con la movilidad sostenible mediante la inversión en proyectos innovadores de I+D que mejoran la calidad del aire para los motociclistas en todo el mundo.</label>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row-petronas ">
    <div class="container p-5">
        <div class="row">
            <div class="col text-center">
                <p class="titulo-petronas">Ponte en contacto para mejorar tu rendimiento</p>
                <br />
                <a class="boton-petronas p-3 " asp-controller="Petronas" asp-action="Portafolio">Ver portafolio </a>
            </div>
        </div>
    </div>
</div>

<div class="row bg-white p-5 mx-0">
    <div class="container">
        <div class=" text-center">
            <h4 class="encabezado-beneficios text-black my-3">CONSULTE NUESTRO PORTAFOLIO POR TIPO DE MOTOCICLETAS</h4>
        </div>
        <div class="row text-center px-lg-5">
            <div class="col">
                <img src="/Image/sprinta-aceite-motor4-tiempos.png" alt="..." />
                <h5 class=titulo-sprinta-aceite text-black mt-2">motor de 4 tiempos</h5>
                <a asp-controller="Petronas" asp-action="Portafolio"><p class="texto-catalogo text-petronas text-center">Ver Productos</p></a>
            </div>
            @*<div class="col">
                    <img src="/Image/sprinta-aceite-motor2-tiempos.png" alt="..." />
                    <h5 class="titulo-sprinta-aceite mt-2 text-black">motor de 2 tiempos</h5>
                    <a asp-controller="Home" asp-action="Portafolio"><p class="texto-catalogo text-petronas text-center">Ver Productos</p></a>
                </div>*@
        </div>
    </div>
</div>


