@{
    ViewData["Title"] = "Petronas - Urania";
    //Layout = "~/Views/Shared/_LayoutPetronas.cshtml";
    //Layout = "";
    Layout = "~/Views/Shared/_LayoutPetronas.cshtml";

}

<!-- ======= Sección banner automotor ======= -->
@*<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="banner banner-home-automotor-lubricantevehiculoslivianos-urania img-fluid">
                    <span class="vertical-line"></span>
                    <h3 class="banner-texto text-center text-md-start text-lg-start">PETRONAS Urania </h3>
                </div>
            </div>
        </div>
    </div>*@

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner banner-home-automotor-lubricantevehiculoslivianos-urania img-fluid">
                <div class="container">
                    <div class="banner-texto text-center text-md-start text-lg-start animate__fadeInLeft">
                        <span class=" border-start border-4 border-white ps-md-4 ps-lg-4 p-sm-0 m-0 p-0 d-block ps-sm-0 border__sm__left__0">
                            PETRONAS URANIA
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Sección fila impar ======= -->
<div class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 tarjeta-linea-impar">
                <div class="bloque">
                    <div class="titulo-tarjeta-izquierda-impar mb-2 mt-0">
                        LA EXIGENCIA EN CARRETERA SIN PREOCUPACIONES. @*CON PETRONAS.*@
                    </div>
                    <div>
                        <p class="text-tarjeta-izquierda-impar mt-3">
                            Mayor demanda y viajes más largos, mayores expectativas de los clientes y plazos más cortos. Las reglamentaciones medioambientales son cada vez más estrictas y la tecnología de los vehículos evoluciona a un ritmo más rápido que nunca.@* Más que nunca, necesita la fuerza para seguir adelante y su camión no es una excepción. Bajo una presión constante, el motor del automóvil debe soportar pruebas de resistencia masivas y esforzarse por mantenerse robusto frente a los desafíos. Por lo tanto, su grasa debe tener una mayor resistencia.*@
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 tarjeta-centrar-imagen col-sm-12">
                <img class="p-5 p-lg-0 img-fluid" src="/Image/urania-la-carretera-dura.png" alt="Alternate Text" style="width: 362px; height: 220px;" />
            </div>

        </div>
    </div>
</div>

<!-- ======= Sección fila par ======= -->
<div class="container">
    <div class="row">
        <div class="row">
            <div class="ocultar-imagen tarjeta-centrar-imagen">
                <img class="p-lg-0 img-fluid" src="/Image/urania-descubre-la-fuerza.png" alt="Alternate Text" style="width: 362px; height: 220px;" />
            </div>
            <div class="tarjeta-linea-par ">
                <div class="bloque">
                    <div class="titulo-tarjeta-derecha-par mb-2">
                        DISFRUTA EL PODER DE URANIA
                    </div>
                    <div>
                        <p class="text-tarjeta-derecha-par">
                            Debido al estrés diario al que están sujetos los camiones, los lubricantes pueden estar expuestos a altas temperaturas, acumulación de depósitos, combustible de mala calidad y más, todo lo cual puede provocar tiempos de inactividad fuera del plan. Esto es inaceptable en el mercado actual. @*Para soportar las duras condiciones de funcionamiento del motor y asegurar que el motor llegue a su destino, el lubricante debe ser extremadamente duradero. Necesitas fuerza para mantener tu perseverancia y tu carrera.*@ Por eso desarrollamos PETRONAS Urania con la nueva tecnología StrongTech™.
                        </p>
                    </div>

                </div>
            </div>
            <div class="cambiar-posicion-imagen">
                <div class="tarjeta-centrar-imagen">
                    <img class="p-5 img-fluid" src="/Image/urania-descubre-la-fuerza.png" alt="Alternate Text" style="width: 362px; height: 220px;" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Sección fila impar ======= -->
<div class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 tarjeta-linea-impar">
                <div class="bloque">
                    <div class="titulo-tarjeta-izquierda-impar mb-2 mt-0">
                        TECNOLOGIA STRONGTECH. @*LO MEJOR PARA EL TRABAJO*@
                    </div>
                    <div>
                        <p class="text-tarjeta-izquierda-impar ">
                            La nueva formulación de PETRONAS Urania, desarrollada con la tecnología StrongTech™, tiene como objetivo aumentar la vida útil, creando una película lubricante más fuerte para lograr el máximo rendimiento y eficiencia.
                            @*El poder de las nuevas moléculas reduce la acumulación de depósitos para mantener una viscosidad óptima y evitar el desgaste y la oxidación, lo que garantiza intervalos de drenaje de aceite más prolongados y una vida útil más prolongada del motor. El punto es mantener su negocio en funcionamiento y rentable. "*@

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 tarjeta-centrar-imagen col-sm-12">
                <img class=" img-fluid mb-5" src="/Image/urania-strongtech.png" alt="Alternate Text" style="width: 220px; height: 220px;" />
            </div>
        </div>
    </div>
</div>



<div class="row-petronas">
    <div class="container p-5">
        <div class="row">
            <div class="col text-center">
                <p class="titulo-petronas">Ponte en contacto para mejorar tu rendimiento</p>
                <br />
                <a class="boton-petronas p-3" asp-controller="Petronas" asp-action="Contactenos"> Contáctanos </a>

            </div>
        </div>
    </div>
</div>



<div class="bg-white">
    <div class="container">
        <div class="text-center">
            <h4 class="encabezado-beneficios text-black m-3 m-lg-5">PRESENTAMOS LA NUEVA LÍNEA PETRONAS URANIA</h4>
        </div>
        <div>
            <p>
                PETRONAS Urania con StrongTech™ es una gama de lubricantes de motor de alta calidad formulados para proteger el motor de forma efectiva contra la acumulación de depósitos y mantener una viscosidad optima en el aceite para que el motor alcance una mayor vida útil.
                <strong>Más fuerza por más tiempo</strong>
            </p>


        </div>

        <div class="row text-center mt-3">

            <div class="col">
                <img class="p-5 p-lg-0" src="/Image/urania-petronas-urania-k.png" alt="..." />
                <h5 class="titulo-sprinta-aceite text-black mt-2">PETRONAS Urania K</h5>
                <a asp-controller="Petronas" asp-action="Portafolio"><p class="texto-catalogo text-petronas text-center">Ver Productos</p></a>
            </div>

            <div class="col">
                <img src="/Image/urania-petronas-urania-5000.png" alt="..." />
                <h5 class="titulo-sprinta-aceite mt-2 text-black">PETRONAS Urania 5000</h5>
                <a asp-controller="Petronas" asp-action="Portafolio"><p class="texto-catalogo text-petronas text-center">Ver Productos</p></a>
            </div>

            <div class="col">
                <img src="/Image/urania-petronas-urania-3000.png" alt="..." />
                <h5 class="titulo-sprinta-aceite mt-2 text-black">
                    PETRONAS Urania 3000
                </h5>
                <a asp-controller="Petronas" asp-action="Portafolio"><p class="texto-catalogo text-petronas text-center">Ver Productos</p></a>
            </div>

            <div class="col">
                <img src="/Image/urania-petronas-urania-verde-5000.png" alt="..." />
                <h5 class="titulo-sprinta-aceite mt-2 text-black">PETRONAS Urania 5000</h5>
                <a asp-controller="Petronas" asp-action="Portafolio"><p class="texto-catalogo text-petronas text-center">Ver Productos</p></a>
            </div>
        </div>
    </div>
</div>


<div class="row-petronas">
    <div class="container p-5">
        <div class="row">
            <div class="col text-center">
                <p class="titulo-petronas">Ponte en contacto para mejorar tu rendimiento</p>
                <br />
                <a class="boton-petronas p-3" asp-controller="Petronas" asp-action="Portafolio">Ver portafolio </a>

            </div>
        </div>
    </div>
</div>

