
@{
    ViewData["Title"] = "Hiring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="b-pageHeader hiring">
    <div class="container">
        <h1 class="wow zoomInLeft" data-wow-delay="0.7s">Trabaje con nosotros</h1>
        <div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.7s">
            <h3>Estámos en continuo crecimiento</h3>
        </div>
    </div>
</section><!--b-pageHeader-->


<div class="b-breadCumbs s-shadow">
    <div class="container wow zoomInUp" data-wow-delay="0.5s">
        <a asp-action="Index" asp-controller="Home" class="b-breadCumbs__page">Home</a><span class="fa fa-angle-right"></span><a asp-action="TrabajeConNosotros" asp-controller="Info" class="b-breadCumbs__page m-active">Trabaje con nosotros</a>
    </div>
</div><!--b-breadCumbs-->

<section class="content">
    <div class="container">
        <div class="wow zoomInUp text-center" data-wow-delay="0.5s" style="margin-top:4em; margin-bottom:3em;">
            <h1>Trabajar en Motovalle es ser parte de una <span style="color:#228dcb;">familia</span></h1>
        </div>
        <div class="row">
            <section class="s-shadow wow zoomInUp text-center" data-wow-delay="0.5s">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <p class="text-justify" style="font-size:18px;">Motovalle te ofrece oportunidades de desarrollo, beneficios y una cultura de trabajo agradable y estable. Así que, si estás buscando una pasantía, oportunidades para comenzar tu carrera o un lugar donde desarrollarte profesionalmente, en Motovalle puedes formar tu propio camino a medida que trabajas en nuestras diferentes unidades de negocio.</p>
                    <br />
                    <p style="font-size:16px;">
                        <strong>Para enviarnos tu hoja de vida escríbenos a:</strong><br />
                        coorselecciondesarrollo@motovalle.com
                    </p>
                </div>
            </section>
        </div>
        <hr />
    </div>
    <section class="b-personal hiring">
        <h3 class="s-titleBg wow zoomInUp" data-wow-delay="0.5s">Sé parte de nuestra</h3><br />
        <h2 class="s-title wow zoomInUp" data-wow-delay="0.5s">FAMILIA MOTOVALLE</h2>
        <div id="carousel-small" class="owl-carousel enable-owl-carousel" data-items="4" data-navigation="true" data-auto-play="true" data-stop-on-hover="true" data-items-desktop="4" data-items-desktop-small="2" data-items-tablet="2" data-items-tablet-small="2">
            <div>
                <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-personal__worker-img">
                        <img src="~/media/hiring/yurany_mosquera.jpg" class="img-responsive" alt="yurany_mosquera" />
                        <div class="b-personal__worker-img-social">
                            <div class="b-personal__worker-img-social-main">
                                <a href="https://web.facebook.com/motovalle/" target="_blank"><span class="fa fa-facebook-square"></span></a>
                                <a href="https://twitter.com/motovalle_col" target="_blank"><span class="fa fa-twitter-square"></span></a>
                                <a href="https://www.instagram.com/motovalle_oficial/" target="_blank"><span class="fa fa-instagram"></span></a>
                                <a href="https://www.youtube.com/channel/UC_0MawhV4cWPrz1pIPdrSVA" target="_blank"><span class="fa fa-youtube-square"></span></a>
                            </div>
                        </div>
                    </div>
                    <h6>Tesorería</h6>
                    <div class="b-personal__worker-name s-lineDownLeft">
                        <h4 class="s-titleDet">Yurany Mosquera</h4>
                    </div>
                    <p>
                        Yurany Mosquera, nos enseña que una actitud de disposición es la clave para lograr todo lo que te propongas. Gracias por pertenecer a nuestra familia Motovalle.
                    </p>
                </div>
            </div>
            <div>
                <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-personal__worker-img">
                        <img src="~/media/hiring/vivian_prado.jpg" class="img-responsive" alt="vivian_prado" />
                        <div class="b-personal__worker-img-social">
                            <div class="b-personal__worker-img-social-main">
                                <a href="https://web.facebook.com/motovalle/" target="_blank"><span class="fa fa-facebook-square"></span></a>
                                <a href="https://twitter.com/motovalle_col" target="_blank"><span class="fa fa-twitter-square"></span></a>
                                <a href="https://www.instagram.com/motovalle_oficial/" target="_blank"><span class="fa fa-instagram"></span></a>
                                <a href="https://www.youtube.com/channel/UC_0MawhV4cWPrz1pIPdrSVA" target="_blank"><span class="fa fa-youtube-square"></span></a>
                            </div>
                        </div>
                    </div>
                    <h6>Tesorería</h6>
                    <div class="b-personal__worker-name s-lineDownLeft">
                        <h4 class="s-titleDet">Vivian Prado</h4>
                    </div>
                    <p>
                        Nuestra superheroina de hoy es Vivian, ella nos enseña a todos que una mujer con caracter sereno, también puede ser fuerte, y lograr sus objetivos. Gracias Vivian por pertenecer a nuestra familia Motovalle
                    </p>
                </div>
            </div>
            <div>
                <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-personal__worker-img">
                        <img src="~/media/hiring/lina_natalia.jpg" class="img-responsive" alt="lina_natalia" />
                        <div class="b-personal__worker-img-social">
                            <div class="b-personal__worker-img-social-main">
                                <a href="https://web.facebook.com/motovalle/" target="_blank"><span class="fa fa-facebook-square"></span></a>
                                <a href="https://twitter.com/motovalle_col" target="_blank"><span class="fa fa-twitter-square"></span></a>
                                <a href="https://www.instagram.com/motovalle_oficial/" target="_blank"><span class="fa fa-instagram"></span></a>
                                <a href="https://www.youtube.com/channel/UC_0MawhV4cWPrz1pIPdrSVA" target="_blank"><span class="fa fa-youtube-square"></span></a>
                            </div>
                        </div>
                    </div>
                    <h6>Talento Humano</h6>
                    <div class="b-personal__worker-name s-lineDownLeft">
                        <h4 class="s-titleDet">Lina Tinoco</h4>
                    </div>
                    <p>
                        Quienes trabajan con ella nos cuentan que vive en modo zen porque nada le quita la paz, y que su alegría contagia a quienes la rodean, pero lo que más destacamos de Lina es su alto sentido del servicio, lo que hace de ella una superheroina en la familia Motovalle
                    </p>
                </div>
            </div>
            <div>
                <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-personal__worker-img">
                        <img src="~/media/hiring/sandra_franco.jpg" class="img-responsive" alt="Sandra_franco" />
                        <div class="b-personal__worker-img-social">
                            <div class="b-personal__worker-img-social-main">
                                <a href="https://web.facebook.com/motovalle/" target="_blank"><span class="fa fa-facebook-square"></span></a>
                                <a href="https://twitter.com/motovalle_col" target="_blank"><span class="fa fa-twitter-square"></span></a>
                                <a href="https://www.instagram.com/motovalle_oficial/" target="_blank"><span class="fa fa-instagram"></span></a>
                                <a href="https://www.youtube.com/channel/UC_0MawhV4cWPrz1pIPdrSVA" target="_blank"><span class="fa fa-youtube-square"></span></a>
                            </div>
                        </div>
                    </div>
                    <h6>Comercial</h6>
                    <div class="b-personal__worker-name s-lineDownLeft">
                        <h4 class="s-titleDet">Sandra Franco</h4>
                    </div>
                    <p>
                        Los que la conocemos sabemos lo comprometida que es con la compañía y el sentido de pertenencia la caracteriza.
                    </p>
                </div>
            </div>
            <div>
                <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-personal__worker-img">
                        <img src="~/media/hiring/etelvina_paz.jpg" class="img-responsive" alt="etelvina_paz" />
                        <div class="b-personal__worker-img-social">
                            <div class="b-personal__worker-img-social-main">
                                <a href="https://web.facebook.com/motovalle/" target="_blank"><span class="fa fa-facebook-square"></span></a>
                                <a href="https://twitter.com/motovalle_col" target="_blank"><span class="fa fa-twitter-square"></span></a>
                                <a href="https://www.instagram.com/motovalle_oficial/" target="_blank"><span class="fa fa-instagram"></span></a>
                                <a href="https://www.youtube.com/channel/UC_0MawhV4cWPrz1pIPdrSVA" target="_blank"><span class="fa fa-youtube-square"></span></a>
                            </div>
                        </div>
                    </div>
                    <h6>Regional Occidente</h6>
                    <div class="b-personal__worker-name s-lineDownLeft">
                        <h4 class="s-titleDet">Etelvina Paz</h4>
                    </div>
                    <p>
                        Detrás de cada mujer en Motovalle hay una súperheorina destacándose con su iniguable trabajo día a día. Qué orgullo tenerlas con nosotros ¡Feliz día a nuestras heroínas!
                    </p>
                </div>
            </div>
            <div>
                <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-personal__worker-img">
                        <img src="~/media/hiring/julieth.jpg" class="img-responsive" alt="julieth_" />
                        <div class="b-personal__worker-img-social">
                            <div class="b-personal__worker-img-social-main">
                                <a href="https://web.facebook.com/motovalle/" target="_blank"><span class="fa fa-facebook-square"></span></a>
                                <a href="https://twitter.com/motovalle_col" target="_blank"><span class="fa fa-twitter-square"></span></a>
                                <a href="https://www.instagram.com/motovalle_oficial/" target="_blank"><span class="fa fa-instagram"></span></a>
                                <a href="https://www.youtube.com/channel/UC_0MawhV4cWPrz1pIPdrSVA" target="_blank"><span class="fa fa-youtube-square"></span></a>
                            </div>
                        </div>
                    </div>
                    <h6>Carshow</h6>
                    <div class="b-personal__worker-name s-lineDownLeft">
                        <h4 class="s-titleDet">Julieth</h4>
                    </div>
                    <p>
                        Ella es Julieth, en su departamento todos la conocen por ser siempre servicial y amable Te invitamos a que conozcas más sobre nuestro equipo en Motovalle Carshow.
                    </p>
                </div>
            </div>
            <div>
                <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-personal__worker-img">
                        <img src="~/media/hiring/contact-center.jpg" class="img-responsive" alt="contact-center" />
                        <div class="b-personal__worker-img-social">
                            <div class="b-personal__worker-img-social-main">
                                <a href="https://web.facebook.com/motovalle/" target="_blank"><span class="fa fa-facebook-square"></span></a>
                                <a href="https://twitter.com/motovalle_col" target="_blank"><span class="fa fa-twitter-square"></span></a>
                                <a href="https://www.instagram.com/motovalle_oficial/" target="_blank"><span class="fa fa-instagram"></span></a>
                                <a href="https://www.youtube.com/channel/UC_0MawhV4cWPrz1pIPdrSVA" target="_blank"><span class="fa fa-youtube-square"></span></a>
                            </div>
                        </div>
                    </div>
                    <h6>Contact center</h6>
                    <div class="b-personal__worker-name s-lineDownLeft">
                        <h4 class="s-titleDet">Contact center</h4>
                    </div>
                    <p>
                        "La fuerza del equipo reside en cada miembro. La fuerza de cada miembro es el equipo. – Phil Jackson."
                    </p>
                </div>
            </div>
            <div>
                <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-personal__worker-img">
                        <img src="~/media/hiring/momentos.jpg" class="img-responsive" alt="Momentos_motovalle" />
                        <div class="b-personal__worker-img-social">
                            <div class="b-personal__worker-img-social-main">
                                <a href="https://web.facebook.com/motovalle/" target="_blank"><span class="fa fa-facebook-square"></span></a>
                                <a href="https://twitter.com/motovalle_col" target="_blank"><span class="fa fa-twitter-square"></span></a>
                                <a href="https://www.instagram.com/motovalle_oficial/" target="_blank"><span class="fa fa-instagram"></span></a>
                                <a href="https://www.youtube.com/channel/UC_0MawhV4cWPrz1pIPdrSVA" target="_blank"><span class="fa fa-youtube-square"></span></a>
                            </div>
                        </div>
                    </div>
                    <h6>Momentos motovalle</h6>
                    <div class="b-personal__worker-name s-lineDownLeft">
                        <h4 class="s-titleDet">Momentos motovalle</h4>
                    </div>
                    <p>
                        "La fuerza del equipo reside en cada miembro. La fuerza de cada miembro es el equipo. – Phil Jackson."
                    </p>
                </div>
            </div>
            <div>
                <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-personal__worker-img">
                        <img src="~/media/hiring/yeimi.jpg" class="img-responsive" alt="yeimi" />
                        <div class="b-personal__worker-img-social">
                            <div class="b-personal__worker-img-social-main">
                                <a href="https://web.facebook.com/motovalle/" target="_blank"><span class="fa fa-facebook-square"></span></a>
                                <a href="https://twitter.com/motovalle_col" target="_blank"><span class="fa fa-twitter-square"></span></a>
                                <a href="https://www.instagram.com/motovalle_oficial/" target="_blank"><span class="fa fa-instagram"></span></a>
                                <a href="https://www.youtube.com/channel/UC_0MawhV4cWPrz1pIPdrSVA" target="_blank"><span class="fa fa-youtube-square"></span></a>
                            </div>
                        </div>
                    </div>
                    <h6>Maquinaria agrícola</h6>
                    <div class="b-personal__worker-name s-lineDownLeft">
                        <h4 class="s-titleDet">Yeimi Parra</h4>
                    </div>
                    <p>
                        Profesionalismo, compromiso, amabilidad y alegría, describen la labor diaria de Yeimi dentro de nuestra familia Motovalle.
                    </p>
                </div>
            </div>
        </div>
    </section><!--b-personal-->
</section>